
body {
    font-weight:normal;
}

.even {
    background-color:  #F5F3E5;
}

.even, .odd {
    border-top:#E0E0E0;
}

h1, p, table, td {
    display:block;
} 

h1 {
    font-size: 15pt;
    color:#40536C;
    padding:2px 0px;
}

p.section-header {
    font-size: 14pt;
    color:#147A00;
    padding:2px 0px;
}

table  {
    border:1px solid #ddd;
    font-size:11pt;
    font-weight:normal;
}

td {
    font-size:11pt;
    font-weight:normal;
    padding:2px;
    vertical-align: top;
} 