/*
body {
	margin: 0px;
	padding: 0px;
	font: 13px Arial, Helvetica, sans-serif;
	color: #212121;
}


h1, h2, h3 {
	margin-top: 0px;
}

h1 {
	font-size: 2.4em;
}

h2 {
	font-size: 1.8em;
}

h3 {
	font-size: 1.4em;
}

p, ol, ul {
	margin-bottom: 1.8em;
	line-height: 160%;
}

a {
	color: #175500;
}

a:hover {
	text-decoration: none;
	color: #FF0000;
}

a img {
	border: none;
}
*/
/* Header */

/*#headerOuter {
        background: url(../images/img01.jpg) repeat-x bottom;
        width:100%;
        height:100px;
}

#header {
	width: 1060px;
	height: 95px;
	margin: 0px auto;
	background: #699C4D;
	position:relative;
}

#header a {
	text-decoration: none;
	color: #FFFFFF;
}


#user-links {
    float:right;
    color:#9BC56F;
    height:30px;
    padding:5px;
}*/

/* Header */


#title h1 {
    font-weight: bold;
    font-size: 40px;
}

#logo2 {
	float: right;
	background: url(../images/totale2.jpg) no-repeat left center;
	width:322px;
	height:55px;
}

#logo h1 {
	padding: 22px 0px 0px 0px;
}

/* Menu */

/*#menu {
	position:absolute;
	bottom:0px;
	right:0px;
	
	background: #243F12;
	border-top: 2px #9BC56F solid;
	
	text-shadow: 1px 1px 2px gray;
}

#menu ul {
	margin: 0px 0 0 0;
	padding: 0px 0px 0px 0px;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: left;
	margin: 0px 0px 0px 1px;
}

#menu a {
	display: block;
	width: auto;
	height: 28px;
	padding: 12px 18px 0px 20px;
	background: url(../images/img02.jpg) no-repeat right 50%;
}

#menu a:hover {
	text-decoration: underline;
}

#menu .first {
	background: none;
}

#menu .active a {
}

.column3  {
	float:left;
	width:265px;
	padding:15px;
	background: #699c4d;
	height:250px;
}

.column3_center  {
	float:left;
	width:265px;
	padding:15px;
	margin-left:7px;
	margin-right:8px;
	background: #699c4d;
	height:250px;
}

.column2_left  {
	float:left;
	margin-top:40px;
	padding:15px;
	width:406px;
	background: #699c4d;
	margin-bottom:10px;
}

.column2_right  {
	float:right;
	margin-top:40px;
	padding:15px;
	width:406px;
	background: #699c4d;
margin-bottom:10px;
}

.column2_left  ul li{
	padding-left:5px;
	line-height:140%;
}

.column2_right  ul li{
	margin-left:-25px;
}



.column3  h3 {
	text-shadow: 1px 1px 2px black;
	color:white;
}

.column3_center  h3 {
	text-shadow: 1px 1px 2px black;
	color:white;
}

.column2_right  h3{
	text-shadow: 1px 1px 2px black;
	color: white;
}

.column2_left  h3{
	text-shadow: 1px 1px 2px black;
	color: white;
}

.column2_right  h4{
	text-shadow: 1px 1px 2px black;
	color: white;
}

.column2_left  h4{
	text-shadow: 1px 1px 2px black;
	color: white;
}


#content_docs {
	float: left;
	width: 1060px;
}

#content_links {
	float: left;
	width: 1060px;
}

#content_links ul li{
	margin-left:10px;
	padding:15px;
	text-shadow: 1px 1px 2px gray;
	font-size:25px;
	text-decoration:none;

}

#content_links ul li a { 
	text-decoration:none;

}

#content_links ul li a:hover { 
	color: #699c4d;

}*/

/*  Forms */


.error {
    color:red;
}

.field_wrapper {
    padding:6px 0px 4px 0px;
    clear:left;
}

.field_wrapper label {
    width:140px;
    float:left;
}

.field_input_block {
    width:180px;
    float:left;
}

.field_input_block input {
    width:180px;
}

.submit_block {
    text-align:right;
    padding:10px;
    clear:both;
}



/* Page */
/*
#page {
	width: 1060px;
	margin: 0px auto;
	padding: 30px 0px;
}

#page_2 {
	width: 1060px;
	margin: 0px auto;
}

#map {
	width: 1060px;
	margin: 0px auto;
}

#map_canvas {
	margin: 0px auto;
	float: right;
}

*/
#TreeEquation_id {
	width: 500px;
	margin: 0px auto;
	font-size:17px;
	float:left;
}

/* Content */

#content {
	float: left;
	width: 570px;
}

#content_TreeEquation {
	width: auto;
}
/*
.post {
	margin: 0px 0px 30px 0px;
}

.post .title {
	margin: 0px;
	padding: 0px 0px 5px 0px;
	border-bottom: #BFC9AE solid 1px;
	color: #232F01;
	text-shadow: 1px 1px 2px gray;
}

.post .title a {
	color: #232F01;
}

.post .entry {
	line-height:normal;
}

.post .meta {
	font-weight: bold;
}

.post .byline {
	margin: 0px;
}*/

/* Sidebar */

#sidebar {
	float: right;
	width: 300px;
}

#sidebar-bgtop {
	height: 3px;
}

#sidebar-bgbtm {
	height: 3px;
}

#sidebar-content {
	padding: 20px;
}

#sidebar ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

#sidebar li ul {
	margin-bottom: 1.8em;
	padding-left: 20px;
	list-style: none;
}

#sidebar h2 {
	padding: 4px 20px;
	background: #699C4D;
	font-size: 1.2em;
	color: #FFFFFF;
}

#sidebar a {
	text-decoration: none;
	color: #232F01;
}

#sidebar a:hover {
	text-decoration: underline;
}


#smallbox_top { 
	height: 14px; 
	background: #fff url(../images/smallboxtop.gif) no-repeat; 
	color: #000; 
}
	
#smallbox { 
	background: #fff url(../images/smallbox.gif) no-repeat bottom left; 
	color: #444; 
	padding: 1px 10px 10px 10px;  
	margin-bottom:20px;

}

#smallbox h3 { 
	text-shadow: 1px 1px 2px gray;
	margin-bottom:-10px;
}

#smallbox p { 
	text-align: justify;
	line-height: 125%;
}

/* Search */

#search {
}

#search form {
	margin-bottom: 1.8em;
	padding: 0px;
}

#search fieldset {
	margin: 0px;
	padding: 0px;
	border: none;
}

#search #s {
	width: 160px;
}

/* Footer */

/*#footer {
	clear: both;
	width: 1056px;
	height: 55px;
	margin: 0px auto 30px auto;
	color: #FFFFFF;
	background: #699C4D;
	padding:4px;
	position:relative;
}

#footer p {
	margin: 0px;
	padding: 19px 0px 0px 0px;
	text-align: center;
	line-height: normal;
	font-size: smaller;
}

#footer a {
	color: #FFFFFF;
}

#copy {
    position:absolute;
    bottom:6px;
    left:6px;   
}*/


/* Search Form */


#searchForm .floatedLabel {
    float:left;
    width:160px;
    display:block;
    clear:left;
}

#searchForm .floatedCheckBoxBlock {
    float:left;
    width:60px;
    display:block;
}


.smallInputs label {
    float:left;
    clear:left;
    width:50px;
}

.smallInputs input {
    float:left;
    width:80px;
}


.smallInputs2 label {
    float:left;
    clear:left;
    width:80px;
}

.smallInputs2 label.middle {
    float:left;
    text-align:center;
    width:60px;
    clear:none;
}

.smallInputs2 input {
    float:left;
    width:80px;
}

/* Table */
table {
    border: 0;
    padding: 0;
    border-collapse: collapse;
}
th {
    padding: 7px; /* NOTE: th padding must be set explicitly in order to support IE */
    text-align: left;        
    font-weight:bold;
    line-height: 2em;
    color: #FFF;
    background-color: #243F12;
   
}

.equationTable th {
	 white-space:nowrap;
}

th a {
	color:#fff;
}

tbody td {
    padding: 7px;
    line-height: 18px;
    border-top: 1px solid #E0E0E0;
}

.equationTable td {
	 white-space:nowrap;
}

tbody tr:nth-child(2n) {
    background-color: #F5F3E5;
}

/* autocomplete */
.auto_count {
	display:block;
	float:right;
	color:#999;
	width:40px;
	text-align: right;
}

/* currentSearch */

#currentSearch {
	float:right;
	width:500px;
	margin-bottom:20px;
	border:1px solid #243F12;
	border-radius: 4px;
	padding:10px;
	margin-right:5px;
	background-color: #E5FFD6;
	-moz-box-shadow: 5px 5px 5px #bbb;
	-webkit-box-shadow: 5px 5px 5px #bbb;
	box-shadow: 5px 5px 5px #bbb;
}

#currentSearch  tbody tr:nth-child(2n) {
    background-color: #D1FFB7;
}

#exportButton:hover {
	color:#fff;
}


/* registration */

fieldset {
	padding:10px;
}

#toc {
	margin:0px 0px 10px 0px;
	padding:10px;
	height:300px;
	overflow:scroll;
	border:1px solid #999;
	background-color: #E5FFD6;

}

/* Journals */
.article {
    margin: 0 0 20px 0
}

/* Bootstrap tweeks */

body {
    padding-top: 45px;
}

.footer {
    padding: 60px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
    background-color: whiteSmoke;
}
/*
.navbar .nav > li > a {    
   line-height: 40px;
}

/* Change the brand color 
.navbar .brand {
   padding: 8px 50px 12px 20px;
   color:#f89406
}*/
