<div class="row">     
    <div class="col-md-12">
        <br>
        <h3 class="section-header">
            Taxonomy
            {% if record.Species_group %} 
            <span style="color:#999;font-size:11px;font-weight:normal;">
                &nbsp;&nbsp;&nbsp;&nbsp;
                Species Group {{record.Species_group.ID_Species_group }}
            </span>
            {% endif %}
        </h3>
        {% if record.Species_group %}
            
    	        <table class="table">
    	            <tr>
                        <th>Family:</th>
                        <th>Genus:</th>
        	            <th>Species:</th>
                        <th>Subspecies:</th>
                        <th>Author:</th>
                        <th>Local Names:</th>
                    </tr>
                    {% for species_def in record.Species_group.Group %} 
                        <td >{{ species_def.Family }}</td>
                        <td >{{ species_def.Genus }}</td>
                        <td >{{ species_def.Species }}</td>
                        <td >{{ species_def.Subspecies }}</td>
                        <td >{{ species_def.Species_author }}</td>
                        <td >{% for local_name in species_def.Species_local_names %}
                                {{ local_name.Local_name}} <span style="color:#999;padding-left:10px">{{ local_name.Local_name_latin}} ({{ local_name.Language_iso_639 }}) </span><br>
                             {% endfor %}
                        </td>
                        </tr>
                    {% endfor %}
    	        </table>
            
        {% else %}
            <p>There is no taxonomy information for this record.</p>
        {% endif %}
  </div>
</div>
