{% load crispy_forms_tags %}

<div class="tab-pane" id="location">
    <p class="search-help-text">
        Search allometric equations by tree location and biome. <br>
        Example searches: 
           <a href="?Zone_FAO=Tropical+dry+forest">Biome (FAO): Tropical dry forest</a>,
           <a href="?Country=Benin">Country: Benin</a>
    </p>
    <h3>Country</h3>
    <div class="row">
        <div class="col-lg-6">
            {{ form.Country|as_crispy_field }}
        </div>
    </div>
    <h3>Ecological Zone, Region, and Vegetation Type</h3>
    <div class="row">
        <div class="col-lg-6">
            {{ form.Zone_Holdridge|as_crispy_field }}
            {{ form.Ecoregion_Udvardy|as_crispy_field }}
            {{ form.Vegetation_type|as_crispy_field }}
        </div>
        <div class="col-lg-6">
            {{ form.Zone_FAO|as_crispy_field }}
            {{ form.Ecoregion_WWF|as_crispy_field }}
            {{ form.Division_Bailey|as_crispy_field }}
        </div>

    </div>
    <h3>Geographic Location</h3>
    <p>Note that when you search by precise location on the map, records that do not have a latitude and longitude specified will not be displayed.</p>
     <div class="row">
        <!--
        <div class="col-lg-6">
            <h4>By Latitude and Longitude</h4>
            {{ form.Min_Latitude|as_crispy_field }}
            {{ form.Max_Latitude|as_crispy_field }}
            {{ form.Min_Longitude|as_crispy_field }}
            {{ form.Max_Longitude|as_crispy_field }}
        </div>
        -->
        <div class="col-lg-6">
            <h4>Search within Distance from Point</h4>
            {{ form.Point_Latitude|as_crispy_field }} 
            {{ form.Point_Longitude|as_crispy_field }}
            {{ form.Point_Distance|as_crispy_field }}         
        </div>
    </div>
</div>
