{% extends "base.html" %}
{% load staticfiles %}

{% block script %}	
    {% include 'base/record_map_script.html' %}
{% endblock %}

{% block content %}

    <div class="row">     
        <div class="col-md-12">
            <div class="page-header">
                <div class="btn-group" style="float:right;padding-top:15px;">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" >
                    <span class="glyphicon glyphicon-download"></span> Download record <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="pdf/" id="export-pdf">Download as PDF</a></li>
                    <li><a href="/api/v1/{{api_path}}/{{record_id}}/?format=txt" id="export-txt">Download as TXT (Tab Delimited UTF-16)</a></li>
                    <li><a href="/api/v1/{{api_path}}/{{record_id}}/?format=json" id="export-json">Download as JSON</a></li>
                    <li><a href="/api/v1/{{api_path}}/{{record_id}}/?format=xml" id="export-xml">Download as XML</a></li>
                  </ul>
                </div>
                <h2 style="float:left;">{{ record_title }}</h2>
                <div style="clear:both;"></div>
            </div>
        </div>
    </div>        
          
    {% include record_content_template %}
    {% include 'base/record_identification.html' %}
    {% include 'base/record_taxonomy.html' %}
    {% include 'base/record_locations.html' %}
    {% include 'base/record_reference.html' %}
    {% include 'base/record_contributor.html' %}
    {% include 'base/record_dataset.html' %}
    
{% endblock %}
