{% extends 'base.html' %}
{% load staticfiles %}

{% block add_to_header %}

    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />
    <link rel="stylesheet" href="{% static 'base/css/search.css' %}" />
    <link rel="stylesheet" href="{% static 'css/typeahead.css' %}" />

{% endblock %}

{% block script %}
    {% include 'base/search_app_config.html' %}

    <script src="{% static 'base/js/elastic.min.js' %}"></script>
    <script src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/mustache.js/0.7.2/mustache.min.js"></script>

    <script src="{% static 'base/js/geohash.js' %}"></script>
    <script src="{% static 'base/js/typeahead.js' %}"></script>

    <script src="{% static 'base/js/search.js' %}"></script>
    <script src="{% static 'base/js/list.js' %}"></script>
    <script src="{% static 'base/js/map.js' %}"></script>

    <script src="{% static configuration_js_file %}"></script>


    {% if form_is_valid %}
        <script type="text/javascript"> 

            $(function() {
                //Get the search manager from allometric_equations/js/search.js
                var app = window.app;
                app.country_centroids = {{country_centroids|safe}};
                app.searchManager.setSearchDict({{search_dict|safe}});
                app.listController.init({
                    el : 'results-list-container'           
                });

                $('a[href="#results-map"]').on('shown.bs.tab', function(){
                    app.mapController.initOrShowMap({
                        el : 'map'            
                    });
                });    


                var submitExportForm = function() {
                    var query = app.searchManager.getQuery().from(0);
                    query = JSON.stringify(query.toJSON());
                    $('#export-query').val(query);
                    $('#export-form').submit();
                }

                $('#export-csv').click(function() {
                    $('#export-extension').val('.csv');
                    submitExportForm();
                });

                $('#export-json').click(function() {
                    $('#export-extension').val('.json');
                    submitExportForm();
                });

                $('#export-xml').click(function() {
                    $('#export-extension').val('.xml');
                    submitExportForm();
                });

                var typeaheads = [
                    {
                        id : '#id_Family',
                        url : '/api/v1/families/?format=json&limit=10&unique_name=1&q=%QUERY',
                        displayKey : 'Family'
                    },
                    {
                        id : '#id_Species',
                        url : '/api/v1/species/?format=json&limit=10&unique_name=1&q=%QUERY',
                        displayKey : 'Species'
                    },
                    {
                        id : '#id_Genus',
                        url : '/api/v1/genera/?format=json&limit=10&unique_name=1&q=%QUERY',
                        displayKey : 'Genus'
                    }
                ];

                _.each(typeaheads, function(typeahead) {
                     var source = new Bloodhound({
                      datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
                      queryTokenizer: Bloodhound.tokenizers.whitespace,
                      remote: {
                        url: typeahead.url,
                        filter: function (data) {
                            return data.results
                        }
                      }
                    });

                    source.initialize();

                    $(typeahead.id).addClass('typeahead').typeahead(null, {
                      name: typeahead.displayKey,
                      hint: true,
                      displayKey: typeahead.displayKey,
                      highlight: true,
                      source: source.ttAdapter()
                    });
                });
            });
        </script>
    {% endif %}

{% endblock %}

{% block content %}

	<div id="equations_page">
	    

        <h3>{{ search_title }}</h3>
	    

        <div class="clearfix"></div>

        <!-- Search Form -->
        {% include form_template %}
		
    	{% if form_is_valid %}
            <div id="search-results">
        		<!-- Result Tabs -->
                <div style="float:right;"> 
                    <form action='export/' id="export-form" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="query" id="export-query" />
                        <input type="hidden" name="extension" id="export-extension" />
                        <div class="btn-group">
                          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" >
                            <span class="glyphicon glyphicon-download"></span> Export Results <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu" role="menu">
                            <li><a href="#" id="export-csv">Download CSV</a></li>
                            <li><a href="#" id="export-json">Download JSON</a></li>
                            <li><a href="#" id="export-xml">Download XML</a></li>
                          </ul>
                        </div>
                    <form>
                </div>
                {% include 'base/search_summary.html'%}
        		<ul id="results-tab" class="nav nav-tabs">
        			<li class="active">
        				<a href="#results-list" data-toggle="tab"><span class="glyphicon glyphicon-list"></span> Results List</a>
        			</li>
        			<li>
        				<a id="list-tab" href="#results-map" data-toggle="tab"><span class="glyphicon glyphicon-globe"></span> Map View</a>
        			</li>
        		</ul>
        		
        		<div class="tab-content">
        			<div class="tab-pane active" id="results-list">
        			     <div id="results-list-container"></div>
        			</div>
        			
        			<div class="tab-pane" id="results-map">
        				<div id="map"></div>
        			</div>
                </div>
        	</div>	
        {% else %}
            <h3> Invalid Search - Please revise the form for any errors</h3>
    	{% endif %}
	    
    </div>

{% endblock %}