django==1.4
-e git+https://github.com/toastdriven/django-haystack.git@433e154f76a450ffc095792c6f2e051ef508fc2d#egg=django-haystack
requests==0.13.2
-e git+https://github.com/toastdriven/pyelasticsearch.git@3bfe1a90eab6c2dfb0989047212f4bc9fb814803#egg=pyelasticsearch
django-grappelli==2.4.0
psycopg2==2.4.5
south==0.7.6
django-cms==2.3.5
PIL==1.1.7
django-classy-tags==0.3.4.1
django-mptt==0.5.2
django-sekizai==0.6.1
html5lib==0.95
feedparser==5.1.2
pyyaml==3.10
django-crispy-forms==1.2.2
gunicorn==0.16.1
