*.pyc
.project
.pydev_project
.vagrant
settings_local.py
static_collected/*
globallometree/static_collected/*
media/cms_page_media/*
media/data_submissions/*
media
.DS_Store
/src
*models.png
*models*.png
reset_db.sh