{% extends "globallometree_base.html" %}

{% load cms_tags %}

{% block content %}

<div id="database" class="narrow-page">
    <div class="page-header">
        <h3>{% page_attribute "page_title" %}</h3>
    </div>
    <div class="row">
        <div class="col-md-12">
                {% placeholder basic_page_content %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            {% placeholder left_column %}
        </div>
        <div class="col-md-6">
            {% placeholder right_column %}
        </div>
    </div>
</div>

{% endblock %}
