{% extends "base.html" %}
{% load staticfiles %}

{% load cms_tags %}

{% block content %}

<div id="database">
    <div class="row">
        <div class="col-md-12">
            <div id="carousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">

                    <div class="item active">
                        <img src="{% static 'images/carousel/flickr_chibitomu.jpg' %}" alt="creative commons license - credit to www.flickr.com/photos/chibitomu/8174443322/">
                    </div>
                    <!--<div class="item">
                        <img src="{% static 'images/carousel/flickr_meyrick.jpg' %}" alt="creative commons license - credit to www.flickr.com/photos/meyrick/5158330341/">
                    </div>-->
                    <div class="item ">
                        <img src="{% static 'images/carousel/img3.jpg' %}" alt="">
                    </div>
                    <div class="item">
                        <img src="{% static 'images/carousel/img2.jpg' %}" alt="">
                    </div> 
                    <div class="item">
                        <img src="{% static 'images/carousel/img4.jpg' %}" alt="">
                    </div>
                    
                    <div class="item">
                        <img src="{% static 'images/carousel/flickr_timg_vancouver.jpg' %}" alt="creative commons license - credit to www.flickr.com/photos/timg_vancouver/128621450/">
                    </div>
                  
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p class="lead">
                <strong>{% placeholder basic_page_content %}</strong>
            </p>        
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            {% placeholder left_column %}
        </div>
        <div class="col-md-6">
            {% placeholder right_column %}
        </div>
    </div>
</div>

{% endblock %}


