{% extends "base.html" %}
{% load staticfiles %}

{% load cms_tags %}

{% block content %}

<div id="database" class="narrow-page">
    <div class="row">
        <div class="span12">
            <div id="carousel" class="carousel slide">
                <div class="carousel-inner">
                    <div class="active item">
                        <img src="{% static 'images/carousel/img1.jpg' %}" alt="">
                    </div>
                    <div class="item">
                        <img src="{% static 'images/carousel/img2.jpg' %}" alt="">
                    </div>
                    <div class="item">
                        <img src="{% static 'images/carousel/img3.jpg' %}" alt="">
                    </div>
                    <div class="item">
                        <img src="{% static 'images/carousel/img4.jpg' %}" alt="">
                    </div>
                    <div class="item">
                        <img src="{% static 'images/carousel/img5.jpg' %}" alt="">
                    </div>
                    <div class="item">
                        <img src="{% static 'images/carousel/img6.jpg' %}" alt="">
                    </div>
                    <div class="item">
                        <img src="{% static 'images/carousel/img7.jpg' %}" alt="">
                    </div>
                    <div class="item">
                        <img src="{% static 'images/carousel/img8.jpg' %}" alt="">
                    </div>
                    <div class="item">
                        <img src="{% static 'images/carousel/img9.jpg' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <p class="lead">
                <strong>{% placeholder basic_page_content %}</strong>
            </p>        
        </div>
    </div>
    <div class="row">
        <div class="span6">
            {% placeholder left_column %}
        </div>
        <div class="span6">
            {% placeholder right_column %}
        </div>
    </div>
    <script type="text/javascript">
        $('.carousel').carousel({
            interval: 4500
        })
    </script>
</div>

{% endblock %}
