{% extends "base.html" %}

{% block content %}

<div id="database" class="narrow-page">
    <div class="page-header">
        <h3>Documents</h3>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h4>Tutorial for the Software Fantallometrik</h4>
            <p>
                The tutorial provides information on how to install and utilize the free software Fantallometrik.
                Relying on the structure of the software, the tutorial is articulated into three modules: 1) comparison
                of tree allometric equation; 2) assessment of volume, biomass and carbon stock; 3) insertion of new
                allometric equation. Details of the software functions for each modules are provided. In the appendix
                the reader can find a description of the structure of the input files required by the software, a list
                of the functions used to assess biomass and carbon stock and maps of the five ecological zone
                classifications.
            </p>
            <h4>Tutorial for data insertion</h4>
            <p>
                The tutorial provides detailed information on the database structure and about the procedures
                and methodology for entering the data. Additional useful information is also provided such as how
                to search articles, reports and documents containing allometric equations; how to manage the
                references using RIS format reference management software; how to geo-reference and to spatialize
                the data using the most common GIS software.
            </p>
            <h4>Fantallometrik</h4>
            <p>
                Fantallometrik software is the first tool for calculating volume, biomass and carbon that takes
                into account the existing allometric equations at the continental level. It is a robust tool aimed at
                facilitating and improving the calculations carried out by scientific research, forest companies, NGOs
                and forestry institutions. With Fantallometrik it is possible 1) to assess volume, biomass and carbon
                stocks for the different tree compartments, 2) to compare existing allometric equations and control
                the quality and reliability of the equations, 3) to enter new allometric equations.
            </p>
            <h4>Manual for building tree volume and biomass allometric equations</h4>
            <p>
                Jointly published by FAO and the French research centre CIRAD, the Manual for building
tree volume and biomass allometric equations is the first tool to provide all the necessary
information from the field up to the biomass estimation. The appropriate development and
use of the tree allometric equations are particularly important when assessing forest carbon stocks and carbon stock changes. This will help national policymakers to make informed
decisions regarding bioenergy development and climate change mitigation activities
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="well clearfix">
            <h4>FAQs</h4>
            <p>
                Frequently asked questions
            </p>
            <a href="#" class="btn btn-success pull-right">Go >></a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="well clearfix">
            <h4>Scientific literature</h4>
            <p> 
                This section provides you the links to the last published articles in scientific journals where most of the tree allometric equations were found.
            </p>
            <a href="/journals/" class="btn btn-success pull-right">Go >></a>
            </div>
        </div>
    </div>
</div>

{% endblock %}



