{% extends "base.html" %}

{% block content %}

<div id="software" class="narrow-page">
    <div class="page-header">
        <h3>Fantallometrik software</h3>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>
                Fantallometrik software is the first tool for assessing volume, biomass and carbon taking into account the existing tree allometric equations at continental and global level. It is a robust tool that provides tools for quality control, and compares the existing models. It aims to facilitate and improve the volume, biomass and carbon stock assessment carried out by scientific research, forest companies, NGOs and forestry institutions. It consists of different modules that serve different purposes and are complementary.
            </p>
            <h4>1 Compare tree allometric equations</h4>
            <p>
                This module allows the comparison of existing tree allometric equations for a given geographical location (a site, an ecological zone, a country, a continent). The user can select the ecological classification from five different sources (FAO, Udvardy, WWF, Holdridge, and Bailey). The results obtained from the analysis can be downloaded by the users.
            </p>
            <h4>2 Assess volume, biomass and carbon stocks</h4>
            <p>
                This module allows the calculation of volume, biomass and carbon stocks, the calculation of descriptive statistics (error, confidence interval, median etc.) and comparison of data obtained according to the default values ​​from the scientific literature. Moreover, it is a robust tool to assess the variable of interest and control teh results obtained. 
            </p>
            <h4>3 Insert new equations</h4>
            <p>   
                This module allows the entry of new tree allometric equations and enrich the database. New allometric equations will be inserted into the database of the user and can be submitted to GlobAllomeTree for insertion in the online database.
            </p>
            <p>The databases provided under this website can be imported in Fantallometrik Software as TXT files.</p>
            <div class="alert alert-block">
                <button type="button" class="close" data-dismiss="alert">×</button>
                FANTALLOMETRIK  Software (c) is a free software and works only under windows operating systems. It is required to accept a license agreement before downloading. Please read carefully the instructions in the tutorial before using the software. 
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="well clearfix">
            <h4>Software</h4>
            <a href="#" class="btn-large btn-success pull-right">Download the software>></a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="well clearfix">
            <h4>Tutorial</h4>
            <a href="#" class="btn-large btn-success pull-right">Download the tutorial>></a>
            </div>
        </div>
    </div>
</div>


{% endblock %}



