{% extends "accounts/base.html" %}


{% block content %}

<div id="page">
    
    {% if validlink %}
    
    
    
    	<h2>Enter new password</h2>
    	
    	<p>Please enter your new password twice so we can verify you typed it in correctly.</p>
    	<div style="width:400px;">
               <form method="post">
    		{% include "accounts/_inc.form_basic.html" %}
    		<div class="submit_block">
    			<input type="submit" value="Reset Password" />
    		</div>
    	    </form>	
            </div>
    {% else %}
    
    	<h1>Password reset unsuccessful</h1>
    	
    	<p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>
    
    {% endif %}

</div>

{% endblock %}
