{% extends "base.html" %}

{% block meta_title%}
	Register
{% endblock%}


{% block script %}
<script>
    $(function() {
       $( ".btn" ).button();
     });

</script>
{% endblock %}

{%block content %}

<div id="page" class="narrow-page">

	{% if form.has_errors %}
	    form.non_field_errors
	{% endif %}
	
	<div style="float:left;width:70%">
	
	<h2>Register</h2>
	<h4>Register to access Globallometree:</h4>
	    <ol>
	        <li>Fill out the form below. Fields marked with an asterisk (*) are required.</li>
	        <li>Your registration will be reviewed by Globallometree</li>
	        <li>You will be notified when your account is approved by email</li>
	    </ol>
	    
	    </p>
	<form method="post" style="padding:0px 15px 0px 0px;">
		{% for error in form.non_field_errors  %} 
		   <span class="error"> {{ error|escape }} </span> <br>
		{% endfor %}

		{% csrf_token %}
        
		<fieldset>
			<legend>Account Details</legend>
			{% with form.username as field %}{% include "accounts/_inc.form_field.html" %}{% endwith %}
			{% with form.password1 as field %}{% include "accounts/_inc.form_field.html" %}{% endwith %}
			{% with form.password2 as field %}{% include "accounts/_inc.form_field.html" %}{% endwith %}
		</fieldset>

		<fieldset>
			<legend>Your Information</legend>
			{% with form.title as field %}  {% include "accounts/_inc.form_field.html" %} {% endwith %}
			{% with form.first_name as field %}{% include "accounts/_inc.form_field.html" %}{% endwith %}
			{% with form.last_name as field %}{% include "accounts/_inc.form_field.html" %}{% endwith %}
			{% with form.email as field %}{% include "accounts/_inc.form_field.html" %}{% endwith %}
			{% with form.address as field %}{% include "accounts/_inc.form_field.html" %}{% endwith %}
			{% with form.country as field %}{% include "accounts/_inc.form_field.html" %}{% endwith %}
			{% with form.education as field %}{% include "accounts/_inc.form_field.html" %}{% endwith %}
			{% with form.field_subject as field %}{% include "accounts/_inc.form_field.html" %}{% endwith %}
		</fieldset>
		<br>
		<fieldset>
			<legend>Institution</legend>
			{% with form.institution_name as field %}{% include "accounts/_inc.form_field.html" %}{% endwith %}
			{% with form.institution_address as field %}{% include "accounts/_inc.form_field.html" %}{% endwith %}
			{% with form.institution_phone as field %}{% include "accounts/_inc.form_field.html" %}{% endwith %}
			{% with form.institution_fax as field %}{% include "accounts/_inc.form_field.html" %}{% endwith %}
			{% with form.data_may_provide as field %}{% include "accounts/_inc.form_field.html" %}{% endwith %}
		</fieldset>
		<br>

		<fieldset>
			<legend>Database Terms &amp; Conditions</legend>
			<div id="toc">
				{% include 'accounts/terms_and_conditions_databases.html' %}
			</div>
			{% with form.accept_terms_databases as field %}
			 <label  class="required" for="id_{{ field.html_name }}">
                  

	              {% if field.errors %} 
		             	<span class="error"> {{ field.errors|first|striptags }}</span> <br>
		          {% endif %}

		          {{ field|safe }}

	                 <span class="required">*</span> 
	              {{ field.label }}
	          </label>
		          


			{% endwith %}
		</fieldset>

		<fieldset>
			<legend>Software Terms &amp; Conditions</legend>
			<div id="toc">
				{% include 'accounts/terms_and_conditions_software.html' %}
			</div>
			{% with form.accept_terms_software as field %}
			 <label  class="required" for="id_{{ field.html_name }}">
                  

	              {% if field.errors %} 
		             	<span class="error"> {{ field.errors|first|striptags }}</span> <br>
		          {% endif %}

		          {{ field|safe }}

	                 <span class="required">*</span> 
	              {{ field.label }}
	          </label>
		          


			{% endwith %}
		</fieldset>


		<fieldset>
			<legend>Globallometree Website Terms &amp; Conditions</legend>
			<div id="toc">
				{% include 'accounts/terms_and_conditions_website.html' %}
			</div>
			{% with form.accept_terms_website as field %}
			 <label  class="required" for="id_{{ field.html_name }}">
                  

	              {% if field.errors %} 
		             	<span class="error"> {{ field.errors|first|striptags }}</span> <br>
		          {% endif %}

		          {{ field|safe }}

	                 <span class="required">*</span> 
	              {{ field.label }}
	          </label>
		          


			{% endwith %}
		</fieldset>



	<div class="submit_block">
		<input type="submit" value="Register" class="btn"/>
	</div>
	<input type="hidden" name="next" value="/loadui/" />
	</form>
	</div>
	{% include "accounts/_inc.register_options.html" %}
	</div>

</div>
	
{% endblock %}