{% extends "base.html" %}

{% block meta_title%}
	Register
{% endblock%}

{%block content %}

<div id="page">

	{% if form.has_errors %}
	    form.non_field_errors
	{% endif %}
	
	<div style="float:left;width:48%">
	
	<h2>Register</h2>
	<h4>Register to access Globallometree:</h4>
	    <ol>
	        <li>Fill out the form below</li>
	        <li>Your registration will be reviewed by Globallometree</li>
	        <li>You will be notified when your account is approved by email</li>
	    </ol>
	    
	    </p>
	<form method="post">
		{% include "accounts/_inc.form_basic.html" %}
	<div class="submit_block">
		<input type="submit" value="Register" />
	</div>
	<input type="hidden" name="next" value="/loadui/" />
	</form>
	</div>
	{% include "accounts/_inc.register_options.html" %}
	</div>

</div>
	
{% endblock %}