<h3>GlobAllomeTree Databases</h3>

<h4>Terms of Use and User Rights</h4>

<p>The data provided in this website are copyrighted. All rights reserved. Users are responsible for any breach of copyright they may commit. Use of any data provided free of charge (‘Free Information’) constitutes an agreement between FAO, CIRAD, UNITUS and the users and the user’s acceptance of the following terms and conditions and the disclaimer.</p>
 
<p>Users are responsible for the searches they carry out, as well as the interpretation and use they make of the data. Reproduction of the data for resale or other commercial purposes is prohibited without prior written permission of the copyright holders (FAO, CIRAD and UNITUS). Applications for such permission should be addressed by email to globallometree@fao.org or by mail to: The coordinator of GlobAllomeTree - Forest Department - Food and Agriculture organization of the United Nations, Vialle delle Terme di Caracalla, 00153 Rome, Italy.</p>

<p>FAO, CIRAD and UNITUS request the users to acknowledge use of the data; this will allow them to gauge the interest and usefulness of our services. Please refer to the dataset documentation1 for suggested form of acknowledgement and preferred citation.</p>  
 
<p>FAO, CIRAD and UNITUS kindly requests that you send us one reprints or PDF of any publication that uses data received from the website. This will help us to determine the type and level of use of the data we distribute.</p>

<p>Expect with permission in writing from FAO, CIRAD and UNITUS, the user:<br><br>

Cannot circulate or redistribute any data from the website; and
Cannot alter, delete or conceal the copyright notices contained.</p>

<p>If the user has the right to reproduce certain portions of any Free Information in accordance with these terms and conditions, the user must ensure that all such material or information is clearly attributed to FAO, CIRAD and UNITUS and bears a notation that it is copyrighted.</p>
