/* Map Styles */
#map {
	height: 600px;
	width: 1060px;
}

#search-results {
    margin-top:25px;
}

#map {
    margin-top:25px;
}

.results-info {
    text-align:right;
    padding:10px 0px;
    height:40px;
}

.result-count {
    margin-right:10px;
}

.agg-icon {
	background-color: rgba(102, 225, 20, 0.7);
	text-align:center;
	vertical-align:middle;
}

.country-agg {
    background-color: rgba(255, 255, 255, 0.7);
    color:rgba(20, 20, 20, 0.85);
}

.agg-icon-1 {
    border:1px solid rgba(100, 100, 100, 0.8);;
    border-radius:12px;
    line-height: 13px;
    font-size: .65em;
    font-weight: normal;
}


.agg-icon-2 {
    border:1px solid rgba(100, 100, 100, 0.7);;
    border-radius:14px;
    line-height: 20px;
    font-size: .75em;
    font-weight: normal;
}

.agg-icon-3 {
    border:1px solid rgba(100, 100, 100, 0.6);;
    border-radius:16px;
    line-height: 23px;
    font-size: .8em;
    font-weight: normal;
}

.agg-icon-4 {
    border:1px solid rgba(100, 100, 100, 0.5);;
    border-radius:18px;
    line-height: 28px;
    font-size: 1em;
    font-weight: normal;
}

.agg-icon-5 {
    border:1.5px solid rgba(100, 100, 100, 0.4);;
    border-radius:18px;
    line-height: 35px;
    font-size: 1.1em;
    font-weight: normal;
}


.geo-agg-icon-1 {
    border:1px solid rgba(44, 97, 9, 0.6);
    border-radius:3px;
    width:0px;
    height:0px;
}

.geo-agg-icon-2 {
    border:1px solid rgba(44, 97, 9, 0.6);
    border-radius:4px;
    width:0px;
    height:0px;
}

.geo-agg-icon-3 {
    border:1px solid rgba(44, 97, 9, 0.6);
    border-radius:5px;
    width:0px;
    height:0px;
}
.geo-agg-icon-4 {
    border:1px solid rgba(44, 97, 9, 0.6);
    border-radius:6px;
    width:0px;
    height:0px;
}
.geo-agg-icon-5 {
    border:1px solid rgba(44, 97, 9, 0.6);
    border-radius:7px;
    width:0px;
    height:0px;
}