{% extends 'base.html' %}

{% block script %}
<script>
    $(function() {
       
        $('a[href="#keyword"]').tab('show');

        var autocompletes = ['Country',
                             'Ecosystem',
                             'Population',
                             'Genus',
                             'Species',
                             'Biome_FAO',
                             'Biome_UDVARDY',
                             'Biome_WWF',
                             'Division_BAILEY',
                             'Biome_HOLDRIDGE',
                             'Author',
                             'Reference',
                             'Output'];

        $.each(autocompletes, function (index, field) {
            console.log(field, $( "#id_" + field ));
            $( "#id_" + field ).autocomplete({
            source: "/data/autocomplete/" + field + "/",
            minLength: 2
            }).data( "autocomplete" )._renderItem = function( ul, item ) {
                return $( "<li></li>" )
                    .data( "item.autocomplete", item )
                    .append( '<a><span class="auto_count">' + item.count + "</span>" + item.display_value + "</a>" )
                    .appendTo( ul );
            };
        });
        
    });
   

</script>



{% endblock %}


{% block content %}

	<div id="equations_page">
	    
	    
	    
	    {% if form.current_search_summary %}
	       <div id="currentSearch">
               <div style="float:right"> 
                    <a target="_blank" href="/data/export/{{form.export_link}}" class="btn btn-succcess" id="exportButton">Export Results</a>
                </div>
	           
               <h3 style="color:#243F12;margin-bottom:0px;">Your current search</h3>
               <h4 style="color:#75AA3B;margin:2px 0px 6px 2px;">Equations found: {{ page.paginator.count}} </h4>

    	       <table>
        	       {% for item in form.current_search_summary %}
        	           <tr>
        	                <td style="width:150px;">{{item.field}}</td>
        	                <td style="width:250px;">{{item.search_value|truncatechars:48 }}</td>
                            <td style="width:30px;"><a href="{{item.clear_link}}">clear</a></td>
        	           </tr>
        	       {% endfor %}
    	       </table>
	       </div>
	    {% endif %}

        <h3>Equations</h3>

	    <form method="get" action="." id="searchForm">
	       
    	    <div id="search-box">    
                
                <ul class="nav nav-tabs">                   
                    <li><a href="#keyword" data-toggle="tab" class="active">Keyword</a></li>
                    <li><a href="#identification" data-toggle="tab">Identification</a></li>
                    <li><a href="#taxonomy" data-toggle="tab">Taxonomy</a></li>
                    <li><a href="#Location" data-toggle="tab">Location</a></li>
                    <li><a href="#components" data-toggle="tab">Components</a></li>
                    <li><a href="#input_Output" data-toggle="tab">Input/Output</a></li>
                    <li><a href="#allometry" data-toggle="tab">Allometry</a></li>
                    <li><a href="#reference" data-toggle="tab">Reference</a></li>
                </ul>

                <div class="tab-content" >
               
    	            <div class="tab-pane active" id="keyword">
    	                <div {% if form.q.errors %} class="error" {% endif %}>
                            {{ form.q.errors }}
                            <label  class="floatedLabel" for="id_q">Keyword</label>
                            {{ form.q }}
                        </div>
    	            </div>
    	            <div class="tab-pane" id="identification">
            	                  
                        <div {% if form.Ecosystem.errors %} class="error" {% endif %}>
                        {{ form.Ecosystem.errors }}
                        <label for="id_Ecosystem" class="floatedLabel">Ecosystem</label>
                        {{ form.Ecosystem }}
                        </div>
                    
            
                        
                        <div {% if form.Population.errors %} class="error" {% endif %}>
                        {{ form.Population.errors }}
                        <label for="id_Population" class="floatedLabel">Population</label>
                        {{ form.Population }}
                        </div>

    	            </div>
    	     
            
                    <div class="tab-pane" id="taxonomy">


            	  
                        <div {% if form.Genus.errors %} class="error" {% endif %}>
                        {{ form.Genus.errors }}
                        <label  for="id_Genus" class="floatedLabel">Genus</label>
                        {{ form.Genus }}
                        </div>
                            
                        
                        <div {% if form.Species.errors %} class="error" {% endif %}>
                        {{ form.Species.errors }}
                        <label for="ID_Species" class="floatedLabel">Species</label>
                        {{ form.Species }}
                        </div>
                
            
                    </div>
             
            
                    <div class="tab-pane" id="Location">
                        <div style="width:50%;float:left">
                            <div {% if form.country.errors %} class="error" {% endif %}>
                            {{ form.Country.errors }}
                            <label for="id_Country" class="floatedLabel">Country</label>
                            {{ form.Country }}
                            </div>        
                             
                
                            <div {% if form.Biome_HOLDRIDGE.errors %} class="error" {% endif %}>
                            {{ form.Biome_HOLDRIDGE.errors }}
                            <label for="id_Biome_HOLDRIDGE" class="floatedLabel">Biome (HOLDRIDGE)</label>
                            {{ form.Biome_HOLDRIDGE }}
                            </div>
                        
                        
                            
                            <div {% if form.Biome_UDVARDY.errors %} class="error" {% endif %}>
                            {{ form.Biome_UDVARDY.errors }}
                            <label for="id_Biome_UDVARDY" class="floatedLabel">Biome (UDVARDY)</label>
                            {{ form.Biome_UDVARDY }}
                            </div>
                        
            	        </div>
            	        <div style="width:50%;float:left">
     
                            <div {% if form.Biome_FAO.errors %} class="error" {% endif %}>
                            {{ form.Biome_FAO.errors }}
                            <label for="id_Biome_FAO" class="floatedLabel">Biome (FAO)</label>
                            {{ form.Biome_FAO }}
                            </div>
                        
                	       
                            <div {% if form.Biome_WWF.errors %} class="error" {% endif %}>
                            {{ form.Biome_WWF.errors }}
                            <label for="id_Biome_WWF" class="floatedLabel">Biome (WWF)</label>
                            {{ form.Biome_WWF }}
                            </div>
                        
                                   
                
                            <div {% if form.Division_BAILEY.errors %} class="error" {% endif %}>
                            {{ form.Division_BAILEY.errors }}
                            <label for="id_Division_BAILEY" class="floatedLabel">Division (BAILEY)</label>
                            {{ form.Division_BAILEY }}
                            </div>
        
                        </div>
                        <div style="clear:both"></div>
            
                    </div>
             
            
                    <div class="tab-pane" id="components">
                         
                        <div class="floatedCheckBoxBlock {% if form.B.errors %}error{% endif %}">
                        {{ form.B.errors }}
                        {{ form.B }}<label for="id_B">B</label>
                        </div>
                    
            
                        <div class="floatedCheckBoxBlock {% if form.Bd.errors %}error{% endif %}">
                        {{ form.Bd.errors }}
                        {{ form.Bd }}<label for="id_Bd">Bd</label>
                        </div>
                    
                        
                        <div class="floatedCheckBoxBlock {% if form.Bg.errors %}error{% endif %}">
                        {{ form.Bg.errors }}
                        {{ form.Bg }}<label for="id_Bg">Bg</label>
                        </div>    
                       
            
                        <div class="floatedCheckBoxBlock {% if form.Bt.errors %}error{% endif %}">
                        {{ form.Bt.errors }}
                        {{ form.Bt }}<label for="id_Bt">Bt</label>
                        </div>
                   
                        <div class="floatedCheckBoxBlock {% if form.L.errors %}error{% endif %}">
                        {{ form.L.errors }}
                        {{ form.L }}<label for="id_L">L</label>
                        </div>
                    
            
                                   
                        <div class="floatedCheckBoxBlock {% if form.Rb.errors %}error{% endif %}">
                        {{ form.Rb.errors }}
                        {{ form.Rb }}<label for="id_Rb">Rb</label>
                        </div>   
                            
                            
                        <div class="floatedCheckBoxBlock {% if form.Rf.errors %}error{% endif %}">
                        {{ form.Rf.errors }}
                        {{ form.Rf }}<label for="id_Rf">Rf</label>
                        </div>
                            
                        <div class="floatedCheckBoxBlock {% if form.Rm.errors %}error{% endif %}">
                        {{ form.Rm.errors }}
                        {{ form.Rm }}<label for="id_Rm">Rm</label>
                        </div>
            
                        <div class="floatedCheckBoxBlock {% if form.S.errors %}error{% endif %}">
                        {{ form.S.errors }}
                        {{ form.S }} <label for="id_S">S</label>
                        </div>
                            
                          
                        <div class="floatedCheckBoxBlock {% if form.T.errors %}error{% endif %}">
                        {{ form.T.errors }}
                        {{ form.T }}<label for="id_T">T</label>
                        </div>
                  
            
                        <div class="floatedCheckBoxBlock {% if form.F.errors %}error{% endif %}">
                        {{ form.F.errors }}
                        {{ form.F }}<label for="id_F">F</label>
                        </div>
            
                        <div style="clear:both"></div>
               
                    </div>
             
            
                    <div class="tab-pane" id="input_Output">
                        
                        <div style="float:left;width:24%" class="smallInputs">
                            <div class="{% if form.X.errors %}error{% endif %}">
                            {{ form.X.errors }}<label for="id_X">X</label>
                            {{ form.X }}
                            </div>
                        
                
                            <div class="{% if form.Z.errors %}error{% endif %}">
                            {{ form.Z.errors }}<label for="id_Z">Z</label>
                            {{ form.Z }}
                            </div>
                
                            <div class="{% if form.W.errors %}error{% endif %}">
                            {{ form.W.errors }}<label for="id_W">W</label>
                            {{ form.W }}
                            </div>
                            
                            <div class="{% if form.U.errors %}error{% endif %}">
                            {{ form.U.errors }}<label for="id_U">U</label>
                            {{ form.U }}
                            </div>
                
                            <div class="{% if form.V.errors %}error{% endif %}">
                            {{ form.V.errors }}<label for="id_V">V</label>
                            {{ form.V }}
                            </div>
                    
                        </div>
                        <div style="float:left;width:24%" class="smallInputs">

                            
                            
                            <div class="{% if form.Unit_U.errors %}error{% endif %}">
                            {{ form.Unit_U.errors }}<label for="id_Unit_U">Unit U</label>
                            {{ form.Unit_U }}
                            </div>
                        
                
                
                            <div class="{% if form.Unit_V.errors %}error{% endif %}">
                            {{ form.Unit_V.errors }}<label for="id_Unit_V">Unit V</label>
                            {{ form.Unit_V }}
                            </div>           
                            
                            <div class="{% if form.Unit_W.errors %}error{% endif %}">
                            {{ form.Unit_W.errors }}<label for="id_Unit_W">Unit W</label>
                            {{ form.Unit_W }}
                            </div>
                                
                            <div class="{% if form.Unit_X.errors %}error{% endif %}">
                            {{ form.Unit_X.errors }}<label for="id_Unit_X">Unit X</label>
                            {{ form.Unit_X }}
                            </div>
                        
                            
                            <div class="{% if form.Unit_Y.errors %}error{% endif %}">
                            {{ form.Unit_Y.errors }}<label for="id_Unit_Y">Unit Y</label>
                            {{ form.Unit_Y }}
                            </div>
                                
                            <div class="{% if form.Unit_Z.errors %}error{% endif %}">
                            {{ form.Unit_Z.errors }}<label for="id_Unit_Z">Unit Z</label>
                            {{ form.Unit_Z }}
                            </div>
                        
            
                        </div>
                        <div style="float:left;width:50%">
                
                            <div class="{% if form.Min_X__gte.errors %}error{% endif %} {% if form.Min_X__lte.errors %}error{% endif %} smallInputs2">
                            {{ form.Min_X__gte.errors }}<label for="id_Min_X__gte">Min X From</label>
                            {{ form.Min_X__gte }}
                            {{ form.Min_X__lte.errors }}<label for="id_Min_X__lte" class="middle">To</label>
                            {{ form.Min_X__lte }}
                            </div>
                          
                     
                
                            <div class="{% if form.Max_X__gte.errors %}error{% endif %} {% if form.Max_X__lte.errors %}error{% endif %} smallInputs2">
                            {{ form.Max_X__gte.errors }}<label for="id_Max_X__gte">Max X From</label>
                            {{ form.Max_X__gte }}
                            {{ form.Max_X__lte.errors }}<label for="id_Max_X__lte" class="middle">To</label>
                            {{ form.Max_X__lte }}
                            </div>
                                
                        
                              
                            <div class="{% if form.Min_Z__gte.errors %}error{% endif %} {% if form.Min_Z__lte.errors %}error{% endif %} smallInputs2">
                            {{ form.Min_Z__gte.errors }}<label for="id_Min_Z__gte">Min H From</label>
                            {{ form.Min_Z__gte }}
                            {{ form.Min_Z__lte.errors }}<label for="id_Min_Z__lte" class="middle">To</label>
                            {{ form.Min_Z__lte }}
                            </div>
                        
                        
                                          
                            <div class="{% if form.Max_Z__gte.errors %}error{% endif %} {% if form.Max_Z__lte.errors %}error{% endif %} smallInputs2">
                            {{ form.Max_Z__gte.errors }}<label for="id_Max_Z__gte" style="margin-bottom:34px;">Max H From</label>
                            {{ form.Max_Z__gte }}
                            {{ form.Max_Z__lte.errors }}<label for="id_Max_Z__lte" class="middle">To</label>
                            {{ form.Max_Z__lte }}
                            </div>
                                
                      
                        
                
                            <div class="{% if form.Output.errors %}error{% endif %} smallInputs2">
                            {{ form.Output.errors }}<label for="id_Output" >Output</label>
                            {{ form.Output }}
                            </div>
                        </div>
                        <div style="clear:both"></div>

                    </div>
             
            
                    <div class="tab-pane" id="allometry">

      
                        <div {% if form.Equation.errors %} class="error" {% endif %}>
                        {{ form.Equation.errors }}
                        <label for="id_Equation" class="floatedLabel">Equation</label>
                        {{ form.Equation }}
                        </div>
                            
                    </div>
             
            
                    <div class="tab-pane" id="reference">
            
            
                        <div {% if form.Author.errors %} class="error" {% endif %}>
                        {{ form.Author.errors }}
                        <label for="id_Author" class="floatedLabel">Author</label>
                        {{ form.Author }}
                        </div>
                    
            
            
                        <div {% if form.Reference.errors %} class="error" {% endif %}>
                        {{ form.Reference.errors }}
                        <label for="ID_Reference" class="floatedLabel">Reference</label>
                        {{ form.Reference }}
                        </div>        
            
                        <div {% if form.Year.errors %} class="error" {% endif %}>
                        {{ form.Year.errors }}
                        <label for="id_Year" class="floatedLabel">Year</label>
                        {{ form.Year }}
                        </div>
            

                
                    </div>
            
                </div>
              
                {{ form.order_by }} 
                
                <input type="hidden" name="page" value="1">
                <div id="search-submit-holder">
                      <input id="searchButton" style="float:right" class="btn btn-succcess" type="submit" value="Search">
                </div>

            </div>
    	            
	    </form>
	  
	   
        {% if page.object_list %}
         <br>
         <br>
            <div style="float:left;width:100px;border-right: 1px solid #9BC56F;"> 
    			<table class="equationTable" style="width:100%">
    			 <thead>   
    				<tr>
    					<th><a href="{{form.sort_link_id}}">Id</a></th>
    				</tr>
    			 </thead>   
                 <tbody>
    				{% for result in page.object_list %}
    				<tr>
                         <td><a href="{{ result.object.get_absolute_url }}">{{ result.object.ID}}</a></td>
                    </tr>
                    {% endfor %}
                 </tbody>
                  <tfoot>   
                    <tr>
                        <th><a href="{{form.sort_link_id}">Id</a></th>
                    </tr>
                 </tfoot>   
    			</table>
			</div>	
			<div style="float:left;width:959px;overflow-x:auto;">	
				<table class="equationTable" style="width:500px;">
				<thead>   
    				<tr>	
    					<th>Equation</th>
    					<th><a href="{{form.sort_link_Genus_order}}">Genus</a></th>
    					<th><a href="{{form.sort_link_Species_order}}">Species</a></th>
    					<th><a href="{{form.sort_link_country_order}}">Country</a></th>
    					<th>Components</th>
    					<th><a href="{{form.sort_link_Output_order}}">Output</a></th>
    					<th><a href="{{form.sort_link_Biome_FAO_order}}">Biome (FAO)</a></th>
    					<th><a href="{{form.sort_link_author_order}}">Author</a></th>
    			    </tr>
			    </thead>
			    <tbody>
                {% for result in page.object_list %}
                    <tr>
                       <td>{{ result.object.Equation}}</td>
                       <td>{{ result.object.Genus}}</td>
                       <td>{{ result.object.Species}}</td>
                       <td>{{ result.object.country.common_name}}</td>
                       <td>{{ result.object.components_string}}</td>
                       <td>{{ result.object.Output}}</td>
                       <td>{{ result.object.Biome_FAO }}</td>
                       <td>{{ result.object.author }}</td>
                    </tr>
                  {% endfor %}
			     </tbody>
			      <tfoot>   
                   <tr> 
                        <th>Equation</th>
                        <th><a href="{{form.sort_link_Genus_order}}">Genus</a></th>
                        <th><a href="{{form.sort_link_Species_order}}">Species</a></th>
                        <th><a href="{{form.sort_link_country_order}}">Country</a></th>
                        <th>Components</th>
                        <th><a href="{{form.sort_link_Output_order}}">Output</a></th>
                        <th><a href="{{form.sort_link_Biome_FAO_order}}">Biome (FAO)</a></th>
                        <th><a href="{{form.sort_link_author_order}}">Author</a></th>
                    </tr>
                 </tfoot>   
			     </table>
			</div>
			<div style="clear:both;"></div>
			{% if page.has_previous or page.has_next %}
                <p style="float:right">
                	
                	
                    {% if page.has_previous %}<a href="{{form.prev_page_link}}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                    |
                    {% if page.has_next %}<a href="{{form.next_page_link}}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
                </p>
            {% endif %}
			<p>Showing equations: {{ page.start_index }} to {{ page.end_index }} of {{ page.paginator.count}}</p>
           
        {% else %}
        	<h4>No results were found that matched your search</h4>
        	<p>Try making your search more general.</p>
            {# Show some example queries to run, maybe query syntax, something else? #}
        {% endif %}
	    
    </div>
{% endblock %}