{% extends 'base.html' %}

{% block script %}
<script>
    $(function() {
        $( "#tabs" ).tabs();
        $( "#searchButton" ).button();
    });
   

</script>
{% endblock %}


{% block content %}

	<div id="page">
	    
	    
	    {% if form.current_search_summary %}
	       <div style="float:right;width:330px;margin-bottom:20px;">
	           <h3 style="color:#243F12">Your current search:</h3>
    	       <table>
        	       {% for item in form.current_search_summary %}
        	           <tr>
        	                <td style="width:150px;">{{item.field}}</td>
        	                <td style="width:150px;">{{item.search_value}}</td>
                            <td style="width:30px;"><a href="{{item.clear_link}}">clear</a></td>
        	           </tr>
        	       {% endfor %}
    	       </table>
	       </div>
	    {% endif %}

	    <form method="get" action="." id="searchForm">
	       
	        <div id="tabs" style="clear:right;">
	            
	            <ul>                   
	                <li><a href="#keyword">Keyword</a></li>
	                <li><a href="#identification">Identification</a></li>
	                <li><a href="#taxonomy">Taxonomy</a></li>
                    <li><a href="#location">Location</a></li>
                    <li><a href="#components">Components</a></li>
                    <li><a href="#input_output">Input/Output</a></li>
                    <li><a href="#allometry">Allometry</a></li>
                    <li><a href="#reference">Reference</a></li>
	            </ul>
	       
	            <div id="keyword">
	                <div {% if form.q.errors %} class="error" {% endif %}>
                        {{ form.q.errors }}
                        <label  class="floatedLabel" for="id_q">Keyword</label>
                        {{ form.q }}
                    </div>
	            </div>
	            <div id="identification">
        	                  
                    <div {% if form.ecosystem.errors %} class="error" {% endif %}>
                    {{ form.ecosystem.errors }}
                    <label for="id_ecosystem" class="floatedLabel">Ecosystem</label>
                    {{ form.ecosystem }}
                    </div>
                
        
                    
                    <div {% if form.population.errors %} class="error" {% endif %}>
                    {{ form.population.errors }}
                    <label for="id_population" class="floatedLabel">Population</label>
                    {{ form.population }}
                    </div>

	            </div>
	     
        
                <div id="taxonomy">


        	  
                    <div {% if form.genus.errors %} class="error" {% endif %}>
                    {{ form.genus.errors }}
                    <label  for="id_genus" class="floatedLabel">Genus</label>
                    {{ form.genus }}
                    </div>
                        
                    
                    <div {% if form.species.errors %} class="error" {% endif %}>
                    {{ form.species.errors }}
                    <label for="id_species" class="floatedLabel">Species</label>
                    {{ form.species }}
                    </div>
            
        
                </div>
         
        
                <div id="location">
                    <div style="width:50%;float:left">
                        <div {% if form.country.errors %} class="error" {% endif %}>
                        {{ form.country.errors }}
                        <label for="id_country" class="floatedLabel">Country</label>
                        {{ form.country }}
                        </div>        
                         
            
                        <div {% if form.biome_HOLDRIDGE.errors %} class="error" {% endif %}>
                        {{ form.biome_HOLDRIDGE.errors }}
                        <label for="id_biome_HOLDRIDGE" class="floatedLabel">Biome (HOLDRIDGE)</label>
                        {{ form.biome_HOLDRIDGE }}
                        </div>
                    
                    
                        
                        <div {% if form.biome_UDVARDY.errors %} class="error" {% endif %}>
                        {{ form.biome_UDVARDY.errors }}
                        <label for="id_biome_UDVARDY" class="floatedLabel">Biome (UDVARDY)</label>
                        {{ form.biome_UDVARDY }}
                        </div>
                    
        	        </div>
        	        <div style="width:50%;float:left">
 
                        <div {% if form.biome_FAO.errors %} class="error" {% endif %}>
                        {{ form.biome_FAO.errors }}
                        <label for="id_biome_FAO" class="floatedLabel">Biome (FAO)</label>
                        {{ form.biome_FAO }}
                        </div>
                    
            	       
                        <div {% if form.biome_WWF.errors %} class="error" {% endif %}>
                        {{ form.biome_WWF.errors }}
                        <label for="id_biome_WWF" class="floatedLabel">Biome (WWF)</label>
                        {{ form.biome_WWF }}
                        </div>
                    
                               
            
                        <div {% if form.division_BAILEY.errors %} class="error" {% endif %}>
                        {{ form.division_BAILEY.errors }}
                        <label for="id_division_BAILEY" class="floatedLabel">Division (BAILEY)</label>
                        {{ form.division_BAILEY }}
                        </div>
    
                    </div>
                    <div style="clear:both"></div>
        
                </div>
         
        
                <div id="components">
                     
                    <div class="floatedCheckBoxBlock {% if form.B.errors %}error{% endif %}">
                    {{ form.B.errors }}
                    {{ form.B }}<label for="id_B">B</label>
                    </div>
                
        
                    <div class="floatedCheckBoxBlock {% if form.Bd.errors %}error{% endif %}">
                    {{ form.Bd.errors }}
                    {{ form.Bd }}<label for="id_Bd">Bd</label>
                    </div>
                
                    
                    <div class="floatedCheckBoxBlock {% if form.Bg.errors %}error{% endif %}">
                    {{ form.Bg.errors }}
                    {{ form.Bg }}<label for="id_Bg">Bg</label>
                    </div>    
                   
        
                    <div class="floatedCheckBoxBlock {% if form.Bt.errors %}error{% endif %}">
                    {{ form.Bt.errors }}
                    {{ form.Bt }}<label for="id_Bt">Bt</label>
                    </div>
               
                    <div class="floatedCheckBoxBlock {% if form.L.errors %}error{% endif %}">
                    {{ form.L.errors }}
                    {{ form.L }}<label for="id_L">L</label>
                    </div>
                
        
                               
                    <div class="floatedCheckBoxBlock {% if form.Rb.errors %}error{% endif %}">
                    {{ form.Rb.errors }}
                    {{ form.Rb }}<label for="id_Rb">Rb</label>
                    </div>   
                        
                        
                    <div class="floatedCheckBoxBlock {% if form.Rf.errors %}error{% endif %}">
                    {{ form.Rf.errors }}
                    {{ form.Rf }}<label for="id_Rf">Rf</label>
                    </div>
                        
                    <div class="floatedCheckBoxBlock {% if form.Rm.errors %}error{% endif %}">
                    {{ form.Rm.errors }}
                    {{ form.Rm }}<label for="id_Rm">Rm</label>
                    </div>
        
                    <div class="floatedCheckBoxBlock {% if form.S.errors %}error{% endif %}">
                    {{ form.S.errors }}
                    {{ form.S }} <label for="id_S">S</label>
                    </div>
                        
                      
                    <div class="floatedCheckBoxBlock {% if form.T.errors %}error{% endif %}">
                    {{ form.T.errors }}
                    {{ form.T }}<label for="id_T">T</label>
                    </div>
              
        
                    <div class="floatedCheckBoxBlock {% if form.F.errors %}error{% endif %}">
                    {{ form.F.errors }}
                    {{ form.F }}<label for="id_F">F</label>
                    </div>
        
                    <div style="clear:both"></div>
           
                </div>
         
        
                <div id="input_output">
                    
                    <div style="float:left;width:24%" class="smallInputs">
                        <div class="{% if form.X.errors %}error{% endif %}">
                        {{ form.X.errors }}<label for="id_X">X</label>
                        {{ form.X }}
                        </div>
                    
            
                        <div class="{% if form.Z.errors %}error{% endif %}">
                        {{ form.Z.errors }}<label for="id_Z">Z</label>
                        {{ form.Z }}
                        </div>
            
                        <div class="{% if form.W.errors %}error{% endif %}">
                        {{ form.W.errors }}<label for="id_W">W</label>
                        {{ form.W }}
                        </div>
                        
                        <div class="{% if form.U.errors %}error{% endif %}">
                        {{ form.U.errors }}<label for="id_U">U</label>
                        {{ form.U }}
                        </div>
            
                        <div class="{% if form.V.errors %}error{% endif %}">
                        {{ form.V.errors }}<label for="id_V">V</label>
                        {{ form.V }}
                        </div>
                
                    </div>
                    <div style="float:left;width:24%" class="smallInputs">

                        
                        
                        <div class="{% if form.unit_U.errors %}error{% endif %}">
                        {{ form.unit_U.errors }}<label for="id_unit_U">Unit U</label>
                        {{ form.unit_U }}
                        </div>
                    
            
            
                        <div class="{% if form.unit_V.errors %}error{% endif %}">
                        {{ form.unit_V.errors }}<label for="id_unit_V">Unit V</label>
                        {{ form.unit_V }}
                        </div>           
                        
                        <div class="{% if form.unit_W.errors %}error{% endif %}">
                        {{ form.unit_W.errors }}<label for="id_unit_W">Unit W</label>
                        {{ form.unit_W }}
                        </div>
                            
                        <div class="{% if form.unit_X.errors %}error{% endif %}">
                        {{ form.unit_X.errors }}<label for="id_unit_X">Unit X</label>
                        {{ form.unit_X }}
                        </div>
                    
                        
                        <div class="{% if form.unit_Y.errors %}error{% endif %}">
                        {{ form.unit_Y.errors }}<label for="id_unit_Y">Unit Y</label>
                        {{ form.unit_Y }}
                        </div>
                            
                        <div class="{% if form.unit_Z.errors %}error{% endif %}">
                        {{ form.unit_Z.errors }}<label for="id_unit_Z">Unit Z</label>
                        {{ form.unit_Z }}
                        </div>
                    
        
                    </div>
                    <div style="float:left;width:50%">
            
                        <div class="{% if form.min_X__gte.errors %}error{% endif %} {% if form.min_X__lte.errors %}error{% endif %} smallInputs2">
                        {{ form.min_X__gte.errors }}<label for="id_min_X__gte">Min X From</label>
                        {{ form.min_X__gte }}
                        {{ form.min_X__lte.errors }}<label for="id_min_X__lte" class="middle">To</label>
                        {{ form.min_X__lte }}
                        </div>
                      
                 
            
                        <div class="{% if form.max_X__gte.errors %}error{% endif %} {% if form.max_X__lte.errors %}error{% endif %} smallInputs2">
                        {{ form.max_X__gte.errors }}<label for="id_max_X__gte">Max X From</label>
                        {{ form.max_X__gte }}
                        {{ form.max_X__lte.errors }}<label for="id_max_X__lte" class="middle">To</label>
                        {{ form.max_X__lte }}
                        </div>
                            
                    
                          
                        <div class="{% if form.min_H__gte.errors %}error{% endif %} {% if form.min_H__lte.errors %}error{% endif %} smallInputs2">
                        {{ form.min_H__gte.errors }}<label for="id_min_H__gte">Min H From</label>
                        {{ form.min_H__gte }}
                        {{ form.min_H__lte.errors }}<label for="id_min_H__lte" class="middle">To</label>
                        {{ form.min_H__lte }}
                        </div>
                    
                    
                                      
                        <div class="{% if form.max_H__gte.errors %}error{% endif %} {% if form.max_H__lte.errors %}error{% endif %} smallInputs2">
                        {{ form.max_H__gte.errors }}<label for="id_max_H__gte" style="margin-bottom:34px;">Max H From</label>
                        {{ form.max_H__gte }}
                        {{ form.max_H__lte.errors }}<label for="id_max_H__lte" class="middle">To</label>
                        {{ form.max_H__lte }}
                        </div>
                            
                  
                    
            
                        <div class="{% if form.output.errors %}error{% endif %} smallInputs2">
                        {{ form.output.errors }}<label for="id_output" >Output</label>
                        {{ form.output }}
                        </div>
                    </div>
                    <div style="clear:both"></div>

                </div>
         
        
                <div id="allometry">

  
                    <div {% if form.equation_y.errors %} class="error" {% endif %}>
                    {{ form.equation_y.errors }}
                    <label for="id_equation_y" class="floatedLabel">Equation</label>
                    {{ form.equation_y }}
                    </div>
                        
                </div>
         
        
                <div id="reference">
        
        
                    <div {% if form.author.errors %} class="error" {% endif %}>
                    {{ form.author.errors }}
                    <label for="id_author" class="floatedLabel">Author</label>
                    {{ form.author }}
                    </div>
                
        
        
                    <div {% if form.reference.errors %} class="error" {% endif %}>
                    {{ form.reference.errors }}
                    <label for="id_reference" class="floatedLabel">Reference</label>
                    {{ form.reference }}
                    </div>        
        
                    <div {% if form.year.errors %} class="error" {% endif %}>
                    {{ form.year.errors }}
                    <label for="id_year" class="floatedLabel">Year</label>
                    {{ form.year }}
                    </div>
        

            
                </div>
        
            </div>
          
            {{ form.order_by }} 
            
            <input type="hidden" name="page" value="1">
            <div style="padding:5px;height:30px;">
                  <input style="float:right" id="searchButton" type="submit" value="Search">
            </div>
	            
	    </form>
	  
	   
        {% if page.object_list %}
         <br>
         <br>
            <div style="float:left;width:299px;border-right: 1px solid #9BC56F;"> 
    			<table class="equationTable" style="width:100%">
    			 <thead>   
    				<tr>
    					<th>Equation</th>
    				</tr>
    			 </thead>   
                 <tbody>
    				{% for result in page.object_list %}
    				<tr>
                         <td><a href="{{ result.object.get_absolute_url }}">{{ result.object.equation_y}}</a></td>
                    </tr>
                    {% endfor %}
                 </tbody>
                  <tfoot>   
                    <tr>
                        <th>Equation</th>
                    </tr>
                 </tfoot>   
    			</table>
			</div>	
			<div style="float:left;width:759px;overflow-x:scroll;">	
				<table class="equationTable" style="width:500px;">
				<thead>   
    				<tr>	
    					<th>Id</th>
    					<th>Genus</th>
    					<th>Species</th>
    					<th>Country</th>
    					<th>Components</th>
    					<th>Biome (FAO)</th>
    					<th>Author</th>
    			    </tr>
			    </thead>
			    <tbody>
                {% for result in page.object_list %}
                    <tr>
                       <td>{{ result.object.id}}</td>
                       <td>{{ result.object.genus}}</td>
                       <td>{{ result.object.species}}</td>
                       <td>{{ result.object.country.common_name}}</td>
                       <td>{{ result.object.components_string}}</td>
                       <td>{{ result.object.biome_FAO }}</td>
                       <td>{{ result.object.author }}</td>
                    </tr>
                  {% endfor %}
			     </tbody>
			      <tfoot>   
                   <tr> 
                        <th>Id</th>
                        <th>Genus</th>
                        <th>Species</th>
                        <th>Country</th>
                        <th>Components</th>
                        <th>Biome (FAO)</th>
                        <th>Author</th>
                    </tr>
                 </tfoot>   
			     </table>
			</div>
			<div style="clear:both;"></div>
			{% if page.has_previous or page.has_next %}
                <p style="float:right">
                	
                	
                    {% if page.has_previous %}<a href="{{form.prev_page_link}}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                    |
                    {% if page.has_next %}<a href="{{form.next_page_link}}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
                </p>
            {% endif %}
			<p>Page {{ page.number }} of {{ page.paginator.num_pages }}</p>
           
        {% else %}
        	<h4>No results were found that matched your search</h4>
        	<p>Try making your search more general.</p>
            {# Show some example queries to run, maybe query syntax, something else? #}
        {% endif %}
	    
    </div>
{% endblock %}