{% extends 'base.html' %}
{% load crispy_forms_tags %} 

{% block script %}


{% endblock %}


{% block content %}
<div id="page" class="narrow-page">
    <div class="row">
        <div class="span6">
              <h4>How to submit data</h4>
              <p>
                <ul>
                    <li>The file should be encoded as <strong>{{ export_encoding }}</strong></li>
                    <li>The file should be a <strong>tab-separated values file</strong> saved with a <strong>.txt</strong> extension and use <strong>TAB</strong> field delimiters</li>
                    <li>When there is no data available for a field it should be marked using <strong>None</strong></li>
                    <li>True and False fields should be marked as <strong>True</strong> and <strong>False</strong></li>
                    <li>The file may be created using the <strong>Fantallometrik</strong> software available under the Software section of this website</li>
                    </li>
                    <li>Numbers and Decimals should be entered according to the <strong>French Numeric System</strong> with a comma "," used for the decimal seperator and the dot "." optionally used as the thousands seperator</li>
                    </li>
                </ul>
                
              </p>
        </div>
        <div class="span6">
            <div class="well clearfix">
                <div id="page" >
                    {% crispy form %}
                </div>
            </div>
        </div>
	</div>
</div>
{% endblock %}