
{% load staticfiles %}

<div class="row">    
    <div class="col-md-12">
        <br>
        <h3 class="section-header">Components</h3>
        <table class="table" >
            <tr>
                <th style="width:210px"> Components: </th>
                <td >
                    <strong><em>
                    {% if record.B %} B {% endif %}
                    {% if record.Bd %} Bd {% endif %}
                    {% if record.Bg %} Bg {% endif %}
                    {% if record.Bt %} Bt {% endif %}
                    {% if record.L %} L {% endif %}
                    {% if record.Rb %} Rb {% endif %}
                    {% if record.Rf %} Rf {% endif %}
                    {% if record.Rm %} Rm {% endif %}
                    {% if record.S %} S {% endif %}
                    {% if record.T %} T {% endif %}
                    {% if record.F %} F {% endif %}
                    </em></strong>
                </td>
            </tr>
        </table> 
        <img src="{% static 'images/components.png' %}" width="300" />
        <br><br>
    </div>
</div>