<div class="row">     
    <div class="col-md-12">
        <br>
        <h3>Reference</h3>
        <table class="table">
            <tr><th style="width:210px"> Label: </th><td> {{ record.Reference.Label }} </td></tr>
            <tr><th> Author: </th><td> {{ record.Reference.Author }} </td></tr>
            <tr><th> Year: </th><td> {{ record.Reference.Year }} </td></tr>
            <tr><th> Reference: </th><td> {{ record.Reference.Reference }} </td></tr>
            <tr><th> Institution: </th><td> {{ record.Institution.Institution }} </td></tr>
            <tr><th> Operator: </th><td> {{ record.Operator.Operator }} </td></tr>
        </table>
    </div>
</div>
