<div class="row">     
    <div class="col-md-12">    
        <br>
        <h3>Locations</h3>
        {% for location in record.Location_group.Group %}
        <table class="table">  
            <tr><th style="width:210px"> Location Name: </th><td> {{ location.Location_name }} </td></tr>  
            <tr><th> Country: </th><td> {{ location.Country }} </td></tr>
            <tr><th> Continent: </th><td> {{ location.Continent }} </td></tr>
        </table>
        <br>
        {% endfor %}
        {% if not is_pdf %}
            <h5>Map</h5>
            <div id="point_map_canvas"></div>
        {% endif %}
  </div>
</div>
