<div class="row">     
    <div class="col-md-12">
        <br>
        <h3>{% if record.Location_group %} 
            <p style="float:right; font-weight:normal;font-size:11px;padding-top:14px;color:#999;">
                Reference {{record.Reference.Reference_ID }}
            </p>
            {% endif %}
            Reference</h3>
        <table class="table">
            <tr><th style="width:210px"> Label: </th><td> {{ record.Reference.Label }} </td></tr>
            <tr><th> Author: </th><td> {{ record.Reference.Author }} </td></tr>
            <tr><th> Year: </th><td> {{ record.Reference.Year }} </td></tr>
            <tr><th> Reference: </th><td> {{ record.Reference.Reference }} </td></tr>
        </table>
    </div>
</div>
