{% extends "base.html" %}
{% load staticfiles %}

{% block script %}	
    {% include 'search_helpers/record_map_script.html' %}
{% endblock %}

{% block content %}

    <div class="row">     
        <div class="col-md-12">
            <div style="float:right;"><a href="pdf/"><img src="{% static 'images/pdficon.png' %}" /> Download as PDF</a></div>
            <div class="page-header">
                <h2>{{ record_title }}</h2>
            </div>
        </div>
    </div>        
    <h2 class="doc-header"></h2>
          
    {% include record_content_template %}
    {% include 'search_helpers/record_taxonomy.html' %}
    {% include 'search_helpers/record_locations.html' %}
    {% include 'search_helpers/record_reference.html' %}

{% endblock %}