{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block script %}

<script type="text/javascript">
	$(function() {

		var showSubForm = function () {		
		
			var val = $('#id_choose_license').val();
			if(val == 'new') {
				$('#new-license').slideDown();
			} else {
				$('#new-license').slideUp();	
			}
			if(val == 'existing') {
				$('#existing-license').slideDown();
			} else {
				$('#existing-license').slideUp();	
			}
			if(val == 'creative' ) {
				$('#creative-license').slideDown();
			} else {
				$('#creative-license').slideUp();
			}

		}

		$('#id_choose_license').change(showSubForm);

		function showOrHidePermittedUseOther() {
			var value = $('[name="Permitted_use"]:checked').val();
			if(value == 'other') {
				$('#div_id_Permitted_use_other_value').slideDown();
			} else {
				$('#div_id_Permitted_use_other_value').slideUp();
			}
		}
		$('[name="Permitted_use"]').click(function() {
			showOrHidePermittedUseOther($(this).attr('value'));
		});

		function showOrHideExpiresDate() {
			var value = $('[name="Expires"]:checked').val();
			if(value == 'on_date') {
				$('#div_id_Expires_on_date').slideDown();
			} else {
				$('#div_id_Expires_on_date').slideUp();
			}
		}
		$('[name="Expires"]').click(function() {
			showOrHideExpiresDate();
		});
		showOrHideExpiresDate();
		showOrHidePermittedUseOther();
		showSubForm();
	});
</script>

{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-8">
   	    <h3>Share Data</h3>
		<h4>Step 1. Choose or create a license</h4>
		<p>Fields marked with an asterisk(*) are required</p>
	    <p>
	    	<form method="post">
	    		{% csrf_token %}
	   	 		{{choose_license_form|crispy}}
	   	 		<input type="hidden" name="submitted" value="open"/>
	   	 		<button id="use-open-license" style="display:none" type="submit" class="btn btn-success pull-right">Continue</button>
	   	 	</form>
	    </p>
	    <div style="clear:both"></div>
	    <div id="new-license" style="display:none">
			<form method="post">
				{% csrf_token %}
			    {{ agreement_form|crispy }}
			    <input type="hidden" name="submitted" value="new"/>
			    <button type="submit" class="btn btn-success pull-right">Save custom license and continue</button>
			</form>
		</div>
		<div style="clear:both"></div>
		<div id="existing-license" style="display:none">
			<form method="post">
				{% csrf_token %}
			    {{ existing_form|crispy }}
			    <input type="hidden" name="submitted" value="existing"/>
			    <button type="submit" class="btn btn-success pull-right">Use your custom license and continue</button>
			</form>
		</div>
		<div id="creative-license" style="display:none">
			<form method="post">
				{% csrf_token %}
			    {{ creative_form|crispy }}
			    <input type="hidden" name="submitted" value="creative"/>
			    <button type="submit" class="btn btn-success pull-right">Use this open license and continue</button>
			</form>
		</div>
    </div>
    <div class="col-md-4 ">
    	<div class="well">
	    	<h4>License Instructions</h4>
	    	<p>The first step in sharing data is choosing a license. You may either create your own license, reuse a license that you already created, or use a predefined Creative Commons license. We encourage organizations to choose or create a license that meets their requirements.</p>
	    	<p>In the next step you will be asked to upload and validate your data for inclusion in our database.</p>
	    	<br>
	    	<h5>Custom License</h5>
	    	<p>Use the form to define your own license and use restrictions. Data will NOT be made available to other parties until you have granted them individual access on this platform with the specified license.</p>
	    	<br>
	    	<h5>Creative Commons Licenses</h5>
	    	<p>Learn more about the creative common licenses at <a href="http://creativecommons.org/licenses/">creativecommons.org</a>.</p>
	    	
	    </div>
    </div>
</div>

	    
{% endblock %}