{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block script %}

<script type="text/javascript">
	$(function() {

	});
</script>

{% endblock %}


{% block content %}

<div class="row">
    <div class="col-md-12">
   	    <h3>My Data</h3> 
   	    <br>
   	    <h4>Datasets</h4>
   	    {% if datasets %} 
   	    	<table class="table">
   	    	<thead>
	   	    	<tr>
	   	    		<th style="width:320px">Dataset</th>
	   	    		<th>Data type</th>
	   	    		<th>Imported</th>
	   	    		<th>License</th>
	   	    		<th style="width:120px">Actions</th>
	   	    	</tr>
   	    	</thead>
            <tbody>
   	    	{% for dataset in datasets %}
   	    		<tr>
   	    			<td> {{ dataset.Title }} </td>
   	    			<td> {{ dataset.get_Data_type_display }} </td>
   	    			<td> {% if dataset.Imported %} Yes {% else %} No {% endif %} </td>
   	    			<td> {{ dataset.Data_license.Title }} </td>
   	    			<td> <a href="/data/sharing/datasets/{{ dataset.Dataset_ID }}/"			
					        class="btn btn-default btn-xs"> 		
							View 							
						</a>
						{% if dataset.is_editable %}
						<a href="/data/sharing/datasets/{{ dataset.Dataset_ID }}/edit/"		
					        class="btn btn-default btn-xs"> 		
							Edit							
						</a>
						{% endif %}
					 </td>
   	    		</tr>
   	    	{% endfor %}
            </tbody>
   	    	</table>

   	    	<br>
   	    	<h4>Requests made for your shared data</h4>
   	    	{% if requests_made_to_user %} 

	   	    {% else %}
	   	    	<p> There have not been any requests made for your data yet. </p>
	   	    {% endif %}

   	    {% else %}
   	   		<p> You have not yet uploaded any datasets </p>
   	    {% endif %}

   	    <br>

   	    <h4>Datasets you have requested access to</h4>
   	    {% if requests_made_by_user %} 
          <table class="table">
          <thead>
          <tr>
            <th style="width:320px">Dataset</th>
            <th>Data type</th>
            <th>Access</th>
            <th style="width:120px">Actions</th>
          </tr>
          </thead>
          <tbody>
   	    	{% for request_made_by_user in requests_made_by_user %}
            <tr>
   	    		<td>{{ request_made_by_user.Dataset.Title }}</td>
               <td>{{ request_made_by_user.Dataset.get_Data_type_display }}</td>
   	    		<td>{{ request_made_by_user.get_Agreement_status_display }}</td>
               <td> <a href="/data/sharing/datasets/{{ request_made_by_user.Dataset.Dataset_ID }}/"         
                       class="btn btn-default btn-xs">      
                     View dataset                   
                  </a></td>
            </tr>
   	    	{% endfor %}
          </tbody>
          </table>
   	    {% else %}
   	    	<p>You have not yet made any requests to access data shared by others.</p>
   	    {% endif %}

   	   

    </div>
</div>

{% endblock %}