{% extends 'base.html' %}
{% load staticfiles %}
{% block script %}
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-12">
		<h3>GlobAllomeTree Shared Data</h3>
		<p>GlobAllomeTree allows you to share and license your data in an easy way. It also lets you find data shared by others and request use of that data by agreeing to the terms and conditions.</p>
	</div>
</div>

<div class="row">
    <div class="col-md-6">
    	<div class="well clearfix">
		    <h4>Share Your Data</h4>
		    <p>Sharing yor data is an easy process and involves the following steps.</p>
		    <ul>
		    	<li>Decide if use of your data will be restricted or not.</li>
		    	<li>For restricted data you may use our license creation tool on this site to create your own license. It is also easy to choose a creative commons license for your data.</li>
		    	<li>Upload your data in one of the formats that can be used by GlobAllomeTree (txt, json, or xml) or upload a pdf, excel, or other document that contains your data. GlobAllomeTree is currently accepting raw data, biomass expansion factors, allometric equations, and wood density data. The txt format should use a {TAB} delimiter and use UTF-16. This 
		    	can be exported from excel using the UTF-16 Unicode Text (.txt) option, or
		    	from Open Office and other programs using the correct configuration.</li>
		    	<li>For restricted data, you have the option to approve or deny requests from individual users directly on the GlobAllomeTree website. You will be sent an email from this site when a new request is made.</li>
		    </ul>
		    <a class="pull-right btn btn-success" href="{% url "data-sharing-choose-license" %}">Share your data</a>
	    </div>
	    <div class="well clearfix">
	    	<h4>Your shared data and license requests</h4>
	    	<p>If you have already submitted data, requested access to data, or have license requests pending, you can review them in the "My Data" section.<p>
	    	<a class="pull-right btn btn-success" href="{% url "my-data" %}">My Data</a>
	    </div>
    </div>
    <div class="col-md-6">
    	<div class="well clearfix">
	    	<h4>Discover and Use Shared Data</h4>
	    	<p>You can find and use shared data through the regular GlobAllomeTree search interface. Data that has an open license is already has the values available, while data that is subject to a license has some values hidden until you have an approved data sharing agreement with the data provider.<p>
	    	 <a class="pull-right btn btn-success" href="{% url "data-sharing-datasets" %}">Browse datasets</a>
	    </div>
	    
	    
    </div>
</div>
	    
{% endblock %}