{% extends extend_template %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block script %}

<script type="text/javascript">
	$(function() {

		var $editorInfo = $('<p id="div_id_editor_info">On the next screen you will be able to create the dataset using the allometric equation editor.</p>');

		$('#div_id_Uploaded_dataset_file').after($editorInfo);

		var showSubmissionChoice = function () {			
			var val = $('#id_Submission_method').val();

			if(val == 'dataset') {
				$('#div_id_Uploaded_dataset_file').slideDown()
			} else {
				$('#div_id_Uploaded_dataset_file').slideUp();	
			}
			if(val == 'document') {
				$('#div_id_Uploaded_source_document').slideDown();
			} else {
				$('#div_id_Uploaded_source_document').slideUp();	
			}
			if(val == 'editor' ) {
				$('#div_id_editor_info').slideDown();
			} else {
				$('#div_id_editor_info').slideUp();
			}
		};

		var modifySubmisisonChoices = function () {
			var val = $('#id_Data_type').val();

			if(val == '') {
				$('#div_id_Submission_method').slideUp();
			} else {
				$('#div_id_Submission_method').slideDown();
			}

			if(val == 'allometric_equations') {
				$('option[value="editor"]').removeAttr('disabled').removeAttr('hidden');
			} else {
				$('option[value="editor"]').attr('disabled',true).attr('hidden', true).attr('selected', false);
				showSubmissionChoice();
			}
		}

		$('#id_Submission_method').change(showSubmissionChoice);
		$('#id_Data_type').change(modifySubmisisonChoices);

		showSubmissionChoice();
		modifySubmisisonChoices();

	});
</script>

{% endblock %}


{% block content %}

<div class="row">
	{% if not data_errors %}
	    <div class="col-md-8">
	   	    <h3>Share Data</h3>
			<h4>Step 2. Upload Data</h4>
			<p>Fields marked with an asterisk(*) are required</p>
		    <p>
		    	<form method="post" enctype="multipart/form-data">
		    		{% csrf_token %}
		   	 		{{form|crispy}}
		   	 		<button type="submit" class="btn btn-success pull-right">Submit</button>
		   	 	</form>
		    </p>
		    
	    </div>
	    <div class="col-md-4 ">
	    	<div class="well">
		    	<h4>Upload Instructions</h4>
		    	<p>The following types of data are currently accepted:</p>
		    	<ul>
		    		<li>Allometric Equations</li>
		    		<li>Wood Density</li>
		    		<li>Biomass Expansion Factors</li>
		    		<li>Raw Data</li>
		    	</ul>
		    	<p>In order to upload the data, please download a sample template that corresponds with the type of data.</p> 	
		    </div>
	    </div>

    {% else %}

	    <div class="col-md-12">
	   	    <h3>Data Validation</h3>
			<h4>Some errors were encountered while validating your upload.
			Please correct these errors and resubmit the data.</h4>
			<br>
			{% for record_errors in data_errors %}
				<h4><span 
				    onclick="$('#record-source-{{ record_errors.record_number }}').slideToggle('slow');"
					style="float:right;font-weight:normal;font-size:small;cursor:pointer;padding-top:5px;"> show / hide source
					</span>
				Record: {{ record_errors.record_number }}</h4>
				<pre id="record-source-{{ record_errors.record_number }}"
				     style="display:none;">{{ record_errors.source }}</pre>
				<table class="table">		
					{% for error in record_errors.errors %}		
						{% if error.sub_errors %}
							{% for sub_error in error.sub_errors %}
								<tr>
									<td style="width:300px">{{ error.field}}
									{% if sub_error.field == 'non_field_errors' %}
										/ error
									{% elif sub_error.field %}
									 	/ {{ sub_error.field}}
									{% endif %}
									 </td>
									<td style="color:orange">{{ sub_error.error}}</td>
								</tr>	
							{% endfor %}
						{% else %}
							<tr>
								<td style="width:300px">{{ error.field}}</td>
								<td style="color:orange">{{ error.error}}</td>
							</tr>
						{% endif %}

					{% endfor %}
				</table>	
			{% endfor %}
		    
	    </div>

    {% endif %}

</div>

{% endblock %}