#Python Library Requirements File


######################## Django Core 
django==1.6.2
psycopg2==2.5.2 #Requires the ubuntu package libpq-dev to be installed
south==0.8.4


######################## Django Extras 
django-crispy-forms==1.4.0
django-extensions==1.3.3
pygraphviz==1.2 #for shell plus graph models

######################## Debugging
ipdb==0.8 #Iron Python shell use: import ipdb; ipdb.set_trace() 


######################## Search 
django-haystack==2.1.0
pyelasticsearch==0.6.1
elasticstack==0.0.6


######################## PDF Export of Search Results 
xhtml2pdf==0.0.5
reportlab==2.7


######################## Parsing Journal Feeds
feedparser==5.1.3


######################## Django CMS 
https://github.com/divio/django-cms/archive/3.0.0.beta3.tar.gz
djangocms-admin-style==0.2.0
cmsplugin-filer==0.9.5
django-filer==0.9.5
djangocms-text-ckeditor==2.1.1


####################### Frontend
django-bootstrap3==3.0.0
