######################## Django Core 
django==1.6.2
psycopg2==2.5.2 #Requires the ubuntu package libpq-dev to be installed
south==0.8.4
gunicorn==18.0
django-redis-sessions==0.4.0

####################### Testing
mock==1.0.1

####################### Account Geocoding
pygeocoder==1.2.5