#Non compiled python requirements

######################## Django Core 
django==1.8.3
gunicorn==19.3.0
django-redis-sessions==0.5.0

######################## Django CMS 
django-sekizai==0.8.2
django-cms==3.1.2
djangocms-admin-style==0.2.7
cmsplugin-filer==0.10.2
djangocms-file==0.1
djangocms-text-ckeditor==2.5.3
djangocms-link==1.6.2
Pillow==2.9.0

######################## Django Extras 
django-crispy-forms==1.4.0
django-extensions==1.5.5

######################## Parsing Journal Feeds
feedparser==5.1.3

######################## PDF Export of Search Results 
xhtml2pdf==0.0.6
reportlab==2.7

######################## ElasticUtils based search
-e git+https://github.com/tomgruner/elasticutils.git@patch-1#egg=elasticutils
elasticsearch==1.6.0
celery==3.1.10
redis==2.9.1

######################## Debugging Requirements #############
# ipdb==0.8 #Iron Python shell use: import ipdb; ipdb.set_trace() 
# pygraphviz==1.2 #for shell plus graph models


####################### Testing
mock==1.0.1

####################### Account Geocoding
pygeocoder==1.2.5
geohash==1.0

####################### API
djangorestframework==3.1.3
django-filter==0.10.0
django-rest-swagger==0.3.3
defusedxml==0.4.1
djangorestframework-xml==1.2.0

################# CSV
unicodecsv==0.13.0
