{% extends "base.html" %}

{% block content %}
    <div class="page-header">
        <h3>{{ journal.title }}</h3>
    </div>
    <div class="journal">
        <p>{{ journal.description|striptags }}</p>
        <ul>
            {% for article in journal.recent_articles %}
                <li class="article" >
                    <a href="{{article.url}}" >{{ article.title|truncatewords:20 }}</a>
                    <span class="pull-right">{{ article.published|date:"SHORT_DATE_FORMAT" }}</span>
                    <div>{{ article.summary|truncatewords:45|striptags }}</div>
                    <a class="article-page-link pull-right" href="{{article.url}}" >Go to the article page >></a>
                    <div class="clearfix"></div>
                </li>
            {% endfor %}
        </ul>
        <a href="/journals" class="btn btn-success pull-left" ><< Back to the journals list </a>
        <a href="{{ journal.site_url }}" class="btn btn-success pull-right" >Go to the journal page >></a>
    </div>
{% endblock %}
