/* 
 * https://kuler.adobe.com/#themeID/545778
 * DARK GREEN #147A00
 * BRIGHT GREEN #29FF00
 * BRIGHT BLUE #009CFC
 * BLUE PURPLE #40536C
 * LEMON YELLOW #FFF422
 * BRICK RED #94090D
 *
 */

body {
	color:#40536C;
}

a {
	color: #147A00;
}

a:hover {
	text-decoration: none;
	color: #94090D	;
}

/* Header */

header {
	background-color: #98B9C7;
	margin-bottom:14px;
	height:100px;

}

.container {
	width: 1060px;	
}

.narrow-page { 
	padding:0px 60px;
}

#header-trees {
	position:absolute;
	top:0px;
	left:-160px;
	z-index:1;
}

header .container {
	position:relative;
}

header h1 {
    font-size: 38px;
    font-weight:normal;
    color:#fff;
    position:absolute;
	top:11px;
	left:10px;
	z-index:2;
	text-shadow: 2px 2px 4px #60738C;
	font-family: 'Titillium Web', arial, sans-serif;
	letter-spacing: 3px;
}

#logo-cirad {
	position:absolute;
	top:12px;
	right:80px;
	z-index:1;
}

#logo-fao {
	position:absolute;
	top:12px;
	right:165px;
	z-index:1;
}

#logo-tuscia {
	position:absolute;
	top:12px;
	right:270px;
	z-index:1;
}

.header-summary {
	color:#40536C;
    position:absolute;
	top:69px;
	left:13px;
	z-index:2;
	text-shadow: 2px 2px 3px #9DCDE0;
}

/* Navbar */
.navbar .nav li a {
	color:#40536C;
}

.navbar .nav li a:hover {
	color:#94090D;
}

/*  Forms */


.error {
    color:red;
}

/*.field_wrapper {
    padding:6px 0px 4px 0px;
    clear:left;
}*/

/*.field_wrapper label {
    width:140px;
    float:left;
}*/
/*
.field_input_block {
    width:180px;
    float:left;
}*/

.field_input_block input {
    max-width:420px;
}

.field_input_block select {
    max-width:420px;
}

.submit_block {
    text-align:right;
    padding:10px;
    clear:both;
}



#TreeEquation_id {
	width: 500px;
	margin: 0px auto;
	font-size:17px;
	float:left;
}

/* Content */

#content {
	float: left;
	width: 570px;
}

#content_TreeEquation {
	width: auto;
}

/* Sidebar */

#sidebar {
	float: right;
	width: 300px;
}

#sidebar-bgtop {
	height: 3px;
}

#sidebar-bgbtm {
	height: 3px;
}

#sidebar-content {
	padding: 20px;
}

#sidebar ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

#sidebar li ul {
	margin-bottom: 1.8em;
	padding-left: 20px;
	list-style: none;
}

#sidebar h2 {
	padding: 4px 20px;
	background: #699C4D;
	font-size: 1.2em;
	color: #FFFFFF;
}

#sidebar a {
	text-decoration: none;
	color: #232F01;
}

#sidebar a:hover {
	text-decoration: underline;
}


#smallbox_top { 
	height: 14px; 
	background: #fff url(../images/smallboxtop.gif) no-repeat; 
	color: #000; 
}
	
#smallbox { 
	background: #fff url(../images/smallbox.gif) no-repeat bottom left; 
	color: #444; 
	padding: 1px 10px 10px 10px;  
	margin-bottom:20px;

}

#smallbox h3 { 
	text-shadow: 1px 1px 2px gray;
	margin-bottom:-10px;
}

#smallbox p { 
	text-align: justify;
	line-height: 125%;
}

/* Search */

#search-box, #tree-equation {
	padding:1px 1px;
	background-color: #ccddcc;
	border-radius: 4px;
}
#search-box .tab-pane,
#tree-equation .tab-pane
{
	background-color: #fff;
	padding:10px;
}

#search-box .nav-tabs,
#tree-equation .nav-tabs {
	margin-bottom: 0px;
}

#search-submit-holder,
#tree-equation-footer {
	height:45px;
	padding:5px;
	background-color: #f4f4f4;
	border-top: 1px solid #d9d9d9;
	border-radius: 0px 0px 4px 4px;
}

#search form {
	margin-bottom: 1.8em;
	padding: 0px;
}

#search fieldset {
	margin: 0px;
	padding: 0px;
	border: none;
}

#search #s {
	width: 160px;
}


/* Search Form */


.search-help-text {
	color:#777;
	font-size:12px;
}

#searchForm .floatedLabel {
    float:left;
    width:160px;
    display:block;
    clear:left;
}

.variable-label {
	font-weight:normal;
	padding-left:20px;
	font-size:14px;
	color:#aaa;
}

.search-form-row-label {
	clear:both;
	padding-top:15px;
}

#searchForm .floatedCheckBoxBlock {
    float:left;
    width:60px;
    display:block;
}

#searchForm  input[type="checkbox"] {
	margin-top:-3px;
	margin-right:10px;
}

#searchForm #components select {
	width:70px;
}

#currentSearch h3 {
	font-size:18px;
	line-height: 18px;
	margin:0px;
}

#currentSearch h4 {
	font-size:14px;
}

.smallInputs label {
    float:left;
    clear:left;
    width:130px;
}

.smallInputs input, #input_Output select {
    float:left;
    width:80px;
}


.smallInputs2 label {
    float:left;
    clear:left;
    width:80px;
}

.smallInputs2 label.middle {
    float:left;
    text-align:center;
    width:60px;
    clear:none;
}

.smallInputs2 input {
    float:left;
    width:80px;
}


/* autocomplete */
.auto_count {
	display:block;
	float:right;
	color:#999;
	width:40px;
	text-align: right;
}



/* registration */

fieldset {
	padding:10px;
}

#toc {
	margin:0px 0px 10px 0px;
	padding:10px;
	height:300px;
	overflow:scroll;
	border:1px solid #999;
	background-color: #eee;
	font-size:12px;

}

/* Journals */
.article {
    margin: 0 0 20px 0
}

/* Bootstrap tweeks */

.footer {
    padding: 60px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
    background-color: whiteSmoke;
}


/* login form */

#login-form {
	width:380px;
}

/* contributors */
.contributor-title {
    display: inline;
}
.contributor-logo {
    margin: 0 10px 10px 0;
}

/* Home carousel */
.carousel {
  .item {
    .transition(.7s ease-in-out opacity);
    left: 0 !important;
  }
  .next.left, .prev.right {
    opacity: 1;
    z-index: 1;
  }
  .active.left, .active.right {
    opacity: 0;
    z-index: 2;
  }
}
