{% extends 'base.html' %}
{% load staticfiles %}

{% block script %}
	<script src="{% static 'search_helpers/js/elastic.min.js' %}"></script>
	<script type="text/javascript">

	var getAggregationRequest = function () {
		
		// We are just interested in aggregations, not actual results returned
		var request = ejs.Request();
		request.query(ejs.MatchAllQuery()).size(0);

		var speciesAgg = ejs.TermsAggregation('Scientific_name').field('Scientific_name').size(10000).order('_term', 'asc');
		var countryAgg = ejs.TermsAggregation('Country').field('Country').size(10000);
		var typeAgg = ejs.TermsAggregation('Type').field('_type');
		var biomeFAOAgg = ejs.TermsAggregation('Biome_FAO').field('Biome_FAO').size(400);
		speciesAgg.aggregation(biomeFAOAgg);
		speciesAgg.aggregation(typeAgg);
		speciesAgg.aggregation(countryAgg);
		request.aggregation(speciesAgg);
			
		return request;
	}

	var search = function(params) {
		$.ajax({
			type: "POST",
			url: window.app.config.search_url + '/globallometree/allometricequation/_search',
			data: JSON.stringify(params['request'].toJSON()),
			success: params['success']
		});
	}

	$(function(){
		//var query = $('#query').val();
		var request = getAggregationRequest();
		var aggData = null;
		var taxonomyIndex = {};
	
		var render = function() {
			$speciesList = $('#speciesList');
			$speciesList.html('');

			_.each(aggData.aggregations.Scientific_name.buckets, function(Scientific_name_bucket, Scientific_name_index) {
				//var family = familyBucket;
				var speciesCount = 0;
				var familySpeciesList = '';

				var Scientific_name = Scientific_name_bucket.key;
				var nameParts = Scientific_name.split(' ');
				var family = nameParts[0];
				var genus = nameParts[1];
				var species = nameParts[2];
				if (nameParts.length == 4) {
					var subSpecies = nameParts[3];
				} else {
					var subSpecies = false;
				}

				if(!taxonomyIndex[family]) {
					taxonomyIndex[family] = {
						'genus' : {},
						'genusCount' : 0,
						'speciesCount' : 0
					}
				}

				if(!taxonomyIndex[family]['genus'][genus]) {
					taxonomyIndex[family]['genus'][genus] =  {
						'species' : [],
						'speciesCount' : 0
					}
					taxonomyIndex[family]['genusCount'] ++;
				}
				
				taxonomyIndex[family]['speciesCount'] ++;
				taxonomyIndex[family]['genus'][genus]['speciesCount'] ++;
				taxonomyIndex[family]['genus'][genus]['species'].push({
					'scientificName': Scientific_name,
					'aggDataIndex' : Scientific_name_index
				}); 
			});

			for (family in taxonomyIndex){
				var familyDetails = taxonomyIndex[family];

				$speciesList.append('<h4 style="cursor:pointer;" class="family" data-family="' + family + '">' + family + ' <small style="font-weight:normal;"> (' + familyDetails.genusCount + ' Genera, ' + familyDetails.speciesCount + ' Species)</small></h4>');

				var speciesHTML = '<div style="display:none" id="family-' + family + '">';
					 _.each(familyDetails['genus'], function(genus, genusIndex) {
						_.each(genus['species'], function(species, speciesIndex) {
					 		speciesHTML += '<h5 class="species" style="color:#555; cursor:pointer; padding-left:25px" data-species="' + species.aggDataIndex + '">' + species.scientificName + '</h5>';
					 		speciesHTML += '<div id="species-' + species.aggDataIndex + '" style="display:none;padding-left:50px;" ></div>';
					 	});
					 });
				speciesHTML += '</div>';
				$speciesList.append(speciesHTML);
			}

			var addSpeciesInfo = function (speciesIndex) {
				if($('#species-' + speciesIndex).html() != '') return;
				var speciesBucket = aggData.aggregations.Scientific_name.buckets[speciesIndex];
				var speciesDetail = '<dl class="dl-horizontal">';
				var Scientific_name = speciesBucket.key;
				var nameParts = Scientific_name.split(' ');
				var family = nameParts[0];
				var genus = nameParts[1];
				var species = nameParts[2];
				if (nameParts.length == 4) {
					var subSpecies = nameParts[3];
				} else {
					var subSpecies = false;
				}

				var countries = [];
				_.each(speciesBucket.Country.buckets, function (bucket) {
					countries.push(bucket.key + ' (' + bucket.doc_count +')');
				});
				speciesDetail += '<dt><small>Data from countries</small></dt><dd>' + countries.join(', ') + '</dd>';

				var biomes = [];
				_.each(speciesBucket.Biome_FAO.buckets, function (bucket) {
					biomes.push(bucket.key  + ' (' + bucket.doc_count +')');
				});
				speciesDetail += '<dt><small>Data in FAO Biomes</small></dt><dd>' + biomes.join(', ') + '</dd>';


				var types = [];
				_.each(speciesBucket.Type.buckets, function (bucket) {
					var params = '?Family=' +  family + '&Species=' + species + '&Genus=' + genus
					if (bucket.key == 'allometricequation') {
						var link = '<a href="/data/allometric-equations/' + params + '">Allometric Equations</a>';
					}
					types.push(link  + ' (' + bucket.doc_count +')');
				});
				speciesDetail += '<dt><small>Types of data</small></dt><dd>' + types.join(', ') + '</dd>';

				speciesDetail += '</dl>';

				speciesDetail += '<div style="color:#777;padding-left:30px;" id="species-' + speciesIndex + '-wiki">Loading from wikipedia...</div>'
				$('#species-' + speciesIndex).html(speciesDetail);
				var $wiki = $('#species-' + speciesIndex + '-wiki');

				$.ajax({
			        type: "GET",
			        url: "http://en.wikipedia.org/w/api.php?action=parse&format=json&prop=text&section=0&page=" + genus +" " + species + "&callback=?",
			        contentType: "application/json; charset=utf-8",
			        async: false,
			        dataType: "json",
			        success: function (data, textStatus, jqXHR) {
			 			
			 			try {
			 				var errorCode = data.error.code;
			 			} catch (e) {
			 				var errorCode = false;
			 			}

			 			if (!errorCode) {
			 				var markup = data.parse.text["*"];
			 			} else {
			 				$wiki.html('No wikipedia information available.');
			 				return;
			 			}

			 			//Verify that this is the right family
			 			if (markup.toLowerCase().indexOf(family.toLowerCase()) == -1){
			 				$wiki.html('No wikipedia information available.');
			 				return;
			 			}

			            var blurb = $('<div></div>').html(markup);
			 
			            // remove links as they will not work
			            blurb.find('a').each(function() { $(this).replaceWith($(this).html()); });
			 
			            // remove any references
			            blurb.find('sup').remove();
			 
			            // remove cite error
			            blurb.find('.mw-ext-cite-error').remove();
			            $wiki.html('');
			            var paragraphs = $(blurb).find('p');
			            var imgs = $(blurb).find('img');
			            var image = false;
			            _.each(imgs, function(img) {
			            	if(!image && (img.src.indexOf('.jpg') != -1) && (img.src.indexOf('Status') == -1)) {
			            		image = img;
			            	} 
			            });
			            var pFound = false;
			            if (image) {

			            	var $div = $('<div style="float:left;padding:0px 10px 10px 0px;"></div>');
			            	$div.append(image);
			            	$wiki.append($div);
			            	imgFound = true;
			            }
			            
			            _.each(paragraphs, function(paragraph) {
			            	var contents = $(paragraph).html().toLowerCase();
			            	if ((contents.indexOf('<b>' + genus.toLowerCase()) != -1 ) && (contents.indexOf('may refer to:') == -1)){

								var link = 'https://wikipedia.org/wiki/' + genus + '_' + species;
			            		var linkText = ' <a target="_blank" href="' + link + '">wikipedia&nbsp;&gt;</a>';
			            		paragraph.innerHTML += linkText;
			            		$wiki.append(paragraph);
			            		pFound = true;
			    			}
			            })
			            $wiki.append('<div style="clear:both"></div>');

			            if(!pFound) {
			            	$wiki.html('No wikipedia information available.');
			            }
			            
			        },
			        error: function (errorMessage) {
			        	$wiki.html('No wikipedia information available.');
			        }
			    });


			};

			$('.family').click(function() {
				var family = $(this).data('family');
				$('#family-' + family).slideToggle();
			});

			$('.species').click(function() {
				var speciesIndex = $(this).data('species');
				addSpeciesInfo(speciesIndex);
				$('#species-' + speciesIndex).slideToggle();
			});

		}

		var success = function(data) {
			aggData = data;
			render();
		};

		search({
			request: request,
			success: success
		});

	});

	</script>

{% endblock %}

{% block content %}
 	<div class="row">
        <div class="col-md-12">
			<h2>Species List</h2>
			<p>Click on a family in the list below for more information on the species in that family.</p>
			<!--
			<h4>Search by Family, Genus, or Species</h4>
			<form method="GET" action="." class="form-inline" role="form">
				<div class="form-group">
					<input id="query" style="width:400px" type="text" name="q" class="form-control" {% if query%} value="{{query}}" {% endif%} />
					<button type="submit" class="btn btn-success">Search</button>
				</div>
			</form>
				<br>
			<br> -->
			<div id="speciesList">Loading Families....
			</div>
			<!--
		    <h4>Family Genus Species</h4>
		    <p>Allometric Equations: <br> <a href="">view equations &gt;</a></p>
		    <br>
		    <br>
			-->
		</div>
	</div>	

	
{% endblock %}