{% extends "globallometree_base.html" %}

{% block content %}

<div id="page" class="narrow-page">

	<h2>Reset your password</h2>
	<p>Please enter your email address to reset your password. A mail will be sent to your email account with instructions on how to reset your password.</p>
	<div style="width:385px;">
		<form method="post">
			{% include "accounts/_inc.form_basic.html" %}
			<div class="submit_block">
				<input type="submit" value="Reset Password" />
			</div>
		</form>
	</div>
	
</div>

{% endblock %}