{% extends "base.html" %}

{% block content %}

<div id="database">
    <div class="page-header">
        <h3>About GlobAllomeTree</h3>
    </div>
    <div class="row">
        <div class="span12">
            <p>
                GlobAllomeTree is a voluntary arrangement between three institutions with recognized international expertise in forestry and particularly development of tree allometric equations. They collaborate to support assessment of forest volume, biomass and carbon stocks in tropical, temperate, tropical and arid ecosystems.
            </p>
            <p>
                Users are welcome to provide comments and suggestions to improve the database and the software and facilitate their use.
            </p>
            <p>
                Users can contact the GlobAllomeTree ADMINISTRATOR at: <a href="mailto:globallometree@fao.org">globallometree@fao.org</a>
            </p>
        </div>
    </div>
</div>

{% endblock %}