<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Globallometree</title>
<link rel="stylesheet" type="text/css" href="/media/css/style.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/media/css/table.css" media="screen" />




    {% block script %}{% endblock %}


</head>
<body>


<div id="header">

    <div id="user-links">
        
        {% if user.is_authenticated %}
        logged in as <span style="color:#fff;font-weight:bold">{{user.username}}</span> 
        |
        <a href="/accounts/change-password/">Change Password</a>

        | 
        <a href="/accounts/logout/">Logout</a>
        
        {% else %}
        <a href="/accounts/login/">Log In</a>
        |
        <a href="/accounts/register/">Register</a>
        {% endif %}
    </div>

	<div id="logo">
		<h1><a href="/">Globallometree</a></h1>
		<p>Assessing volume, biomass and carbon stocks</p>	
		<p>in forest lands and trees outside forests</p>	
	</div>
	
	
	<!-- end #logo -->
	<div id="menu">
		<ul>
		<!--	<li class="first"><a href="/">Home</a></li> -->
			<li><a href="/data/search/">Equations</a></li>
			<li><a href="/database">Data</a></li>
			<li><a href="/geo_map">Maps</a></li>
			<li><a href="/software">Software</a></li>
			<li><a href="/principles">Principles</a></li>
			<li><a href="/docs">Docs</a></li>
		<!--	<li><a href="/links">Links</a></li> -->
		</ul>
	</div>
	<!-- end #menu -->
</div>
<!-- end #header -->

    {% block content %}{% endblock %}



<!-- end #page -->
<div id="footer">
    <div id="logo2">
        &nbsp;
    </div>
	<p>&copy; 2011-2012 All Rights Reserved. Site by <a style="text-decoration: none"href="">Blue Bits</a></p>
</div>

<!-- end #footer -->
</body>
</html>
