{% load cms_tags sekizai_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>GlobAllomeTree</title>
    <link rel="stylesheet" type="text/css" href="/media/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/media/css/style.css" />
    <script type="text/javascript" src="/media/js/libs/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/media/bootstrap/js/bootstrap.min.js"></script>
    {% render_block "css" %}
</head>
<body>
    {% cms_toolbar %}
    <header id="main-header">
        <div class="container" >
            <h1>GlobAllomeTree</h1>
            <p class="header-summary">Assessing volume, biomass and carbon stocks of trees and forests.</p>
            <img src="/media/images/white_trees.png" alt="" id="header-trees" />
            <div id="logo-cirad" class="logo-image-link" title="CIRAD - Centre de coopération internationale en recherche agronomique pour le développement">
                <a  href="http://www.cirad.fr/" target="_blank" >
                    <img src="/media/images/logos/logo-cirad-75.png" alt="Cirad"  />
                </a>
            </div>
            <div id="logo-fao" class="logo-image-link" title="FAO - Food and Agriculture Organization of the United Nations">
                <a  href="http://www.fao.org/" target="_blank" >
                    <img src="/media/images/logos/logo-fao-75.png" alt="FAO" />
                </a>
            </div>
            <div id="logo-tuscia" class="logo-image-link" title="UNITUS - DIBAF: Università degli Studi della Tuscia">
                <a  href="http://www.unitus.it/" target="_blank" >
                     <img src="/media/images/logos/logo-tuscia-75.png" alt="Tuscia University" />
                </a>
            </div>

        </div>
    </header>
     <div class="container">
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <div class="nav-collapse collapse" style="height: 0px; ">
                        <ul class="nav">
                            {% page_attribute "slug" as slug %}
                            <li {% if is_page_home or slug == 'home' %}class="active" {% endif %}><a href="/">Home</a></li>
                            <li {% if is_page_about or slug == 'about' %}class="active" {% endif %}><a href="/about/">About</a></li>
                            <li {% if is_page_data or slug == 'database' %}class="active" {% endif %}><a href="/database">Data</a></li>
                            <!--<li {% if is_page_maps %}class="active" {% endif %}><a href="/geo_map">Maps</a></li>-->
                            <li {% if is_page_software or slug == 'software' %}class="active" {% endif %}><a href="/software">Software</a></li>
                            <!--<li {% if is_page_principles %}class="active" {% endif %}><a href="/principles">Principles</a></li>-->
                            <li {% if is_page_docs or slug == 'docs' or slug == 'faq' %}class="active" {% endif %}><a href="/docs">Documents</a></li>
                            <li {% if is_page_contributors or slug == 'contributors' %}class="active" {% endif %}><a href="/contributors">Contributors</a></li>
                        </ul>
                                       
                            {% if user.is_authenticated %}
                             <div class="btn-group pull-right" id="user-button-group">
                                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                                   {{user.username}}
                                  <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                  <li><a href="/accounts/change-password/">Change Password</a></li>
                                  <li><a href="/accounts/logout/">Logout</a></li>
                                </ul>
                              </div>
                            {% else %}
                            <ul class="nav pull-right"> 
                              <li><a href="/accounts/login/">Log In</a></li>
                              <li><a href="/accounts/register/">Register</a></li>
                            </ul>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {% block content %}{% endblock %}
    </div>

    <footer class="footer">
        <div class="container">
            <p class="pull-right"><a href="#">Back to top</a></p>
            <p>&copy; 2011-2012 All Rights Reserved.</p>
            <ul class="footer-links">
                <li><a href="http://www.fao.org/">FAO</a></li>
                <li><a href="http://www3.unitus.it/">UNITUS</a></li>
                <li><a href="http://www.cirad.fr/">CIRAD</a></li>
            </ul>
        </div>
    </footer>

   
    <script type="text/javascript">
        $(function() {
            $('.logo-image-link').tooltip({placement:'bottom'});
        });
    </script>
    {% block script %}{% endblock %}
    {% render_block "js" %}
</body>
</html>
