<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Globallometree</title>
<link rel="stylesheet" type="text/css" href="/media/css/style.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/media/css/table.css" media="screen" />




    {% block script %}{% endblock %}


</head>
<body>


<div id="header">


	<div id="logo">
		<h1><a href="/">Globallometree</a></h1>
		<p>Assessing volume, biomass and carbon stocks</p>	
		<p>in forest lands and trees outside forests</p>	
	</div>
	
	<div id="logo2">
		&nbsp;
	</div>
	<!-- end #logo -->
	<div id="menu">
		<ul>
			<li class="first"><a href="/">Home</a></li>
			<li><a href="/database">Data</a></li>
			<li><a href="/geo_map">Maps</a></li>
			<li><a href="/software">Software</a></li>
			<li><a href="/principles">Principles</a></li>
			<li><a href="/docs">Docs</a></li>
			<li><a href="/links">Links</a></li>
		</ul>
	</div>
	<!-- end #menu -->
</div>
<!-- end #header -->

    {% block content %}{% endblock %}



<!-- end #page -->
<div id="footer">
	<p>&copy; 2011. All Rights Reserved. Design by <a href=""></a>.</p>
</div>
<!-- end #footer -->
</body>
</html>
