{% extends "base.html" %}

{% block content %}

<div id="contributors" class="narrow-page">
    <div class="page-header">
        <h3>Contributors</h3>
    </div>
    <h4>Institutions</h4>
    <div class="row">
        <div class="span6">
            <div class="well clearfix">
            <h4><a href="http://www.fao.org/">FAO</a></h4>
            <p>Food and Agriculture Organization of the United Nations</p>
            <address>Viale delle Terme di Caracalla, Rome 00153, Italy</address>
            </div>
        </div>
        <div class="span6">
            <div class="well clearfix">
            <h4><a href="http://www3.unitus.it/">UNITUS</a></h4>
            <p>Università degli Studi della Tuscia</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span6">
            <div class="well clearfix">
            <h4><a href="http://www.cirad.fr/">CIRAD</a></h4>
            <p>A French research centre working with developing countries to tackle international agricultural and development issues</p>
            <address>42, rue Scheffer, 75116 Paris, France</address>
            </div>
            </div>
        <div class="span6">
            <div class="well clearfix">
            <h4><a href="http://www.dibaf.unitus.it/web/index.asp">DIBAF</a></h4>
            <p>The Department for Innovation in Biological, Agro-food and Forest systems</p>
            <address>Via S. Camillo de Lellis, 01100 Viterbo, Italy</address>
            </div>
        </div>
    </div>
    <h4>Projects</h4>
    <div class="row">
        <div class="span6">
            <div class="well clearfix">
            <h4><a href="http://www.carboafrica.net/index_en.asp">CarboAfrica</a></h4>
            <p>Quantification, understanding and prediction of carbon cycle and other CHG gases in Sub-Saharan Africa</p>
            </div>
        </div>
        <div class="span6">
            <div class="well clearfix">
            <h4><a href="http://www.fao.org/">ClimAfrica</a></h4>
            <p>Climate change predictions in Sub-Saharan Africa: impacts and adaptations</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span6">
            <div class="well clearfix">
            <h4><a href="http://www.geocarbon.net/">GeoCarbon</a></h4>
            <p>A European FP7 project with a global perspective, with the ultimate aim to lay the foundations for an operational Global Carbon Observing and Analysis System in support to both science and policy</p>
            </div>
        </div>
        <div class="span6">
            <div class="well clearfix">
            <h4><a href="http://www.un-redd.org">UN-REDD</a></h4>
            <p>The United Nations collaborative programme on reducing emissions from deforestation and forest degradation in developing countries</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span6">
            <div class="well clearfix">
            <h4><a href="http://www.fao.org/">ANR Emerge</a></h4>
            <p>The French National Research Agency. Project-based funding to advance French research</p>
            </div>
        </div>
    </div>
        
</div>


{% endblock %}



