{% extends "base.html" %}

{% block content %}

<div id="database">
    <div class="page-header">
        <h3>Documents</h3>
    </div>
    <div class="row">
        <div class="span12">
            <h4>Fantallometrik software</h4>
            <p>
                This tutorial explains how to install and use the Fantallometrik software.
            </p>
            <h4>Tutorial for database development</h4>
            <p>
                This tutorial explains how to develop databases for tree allometric equations. This tutorial was used to develop the databases provided under this website.
            </p>
            <h4>Manual for building tree volume and biomass allometric equations: from field measurement to prediction.</h4>
            <p>
                This manual is mainly dedicated to support the development of tree allometric equations for volume, biomass or carbon stock assessment. It is dedicated to students, engineers or researchers who want to build volume or biomass equations for the purposes of forest management, carbon sequestration or of studying forest ecosystem functioning. The manuals explains the basis for destructive field measurement, laboratory analysis, database management, statistical analysis, model fitting and forest volume, biomass and carbon stocks.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="span6">
            <div class="well clearfix">
            <h4>FAQs</h4>
            <p>
                Frequently asked questions
            </p>
            <a href="#" class="btn-large btn-success pull-right">go>></a>
            </div>
        </div>
        <div class="span6">
            <div class="well clearfix">
            <h4>Scientific literature</h4>
            <p> 
                This section provides you the links to the  scientific journals where most of the tree allometric equations were found. 
            </p>
            <a href="/principles/" class="btn-large btn-success pull-right">go>></a>
            </div>
        </div>
    </div>
</div>


{% endblock %}



