{% extends "base.html" %}

{% block title %}Fantallometrik{% endblock %}

{% block content %}


<div id="page">
	<div id="content_docs">


			<div class="column3">
			<h3>1 Scientific litterature</h3>
				Fantalloemtrik DATABASE (c) and Fantallometrik SOFTWARE are based on the latest scientific researches. This section provides you the links to the most relevant scientific articles on the use of allometric equations for volume, biomass and carbon stocks.
			</div>


			<div class="column3_center">
			<h3>2 Documentation</h3>
			This section provides reports and documentation on the installation and use of Fantallometrik SOFTWARE (c) and Fantallometrik DATABASE (c). It also provides manuals and literature on the development of allometric equations and assessment of volume, biomass and carbon stocks.
			</div>


			<div class="column3">
			<h3>3 Share your experiences</h3>
				You are welcome to provide comments and suggestions to update the list of the scientific publications and improve the documentation, manuals and reports on Fantallometrik DATABASE and Fantalometrik SOFWTARE.
On the forum: share your experiences and questions with the Fantallometrik community.
			</div>






			<div class="column2_left">
			<h3>Selected scientific litterature</h3>

			<ul>
   			<li><b>Chave, J., et al. 2005.</b> Tree allometry and improved estimation of carbon stocks and balance in tropical forests. Oecologia 145, 87-99.</li>
			<li><b>Djomo, A.N., Ibrahima, A., Saborowski, J., Gravenhorst, G., 2010.</b> Allometric equations for biomass estimations in Cameroon and pan moist tropical equations including biomass data from Africa. Forest Ecology and Management 260, 1873-1885.</li>
      		<li><b>Feldpausch, T.R., et al. 2010.</b> Height-diameter allometry of tropical forest trees. Biogeosciences Discuss. 7, 7727-7793.</li>
 			<li><b>Henry, M., Picard, N., Manlay, R., Valentini, R., Bernoux, M., Saint-André, L., 2011.</b> Estimating tree biomass of sub-Saharan African forests: a review of available allometric equations. Silva Fennica Monographs.</li>
 			<li><b>Henry, M., Tittonell, P., Manlay, R.J., Bernoux, M., Albrecht, A., Vanlauwe, B., 2009.</b> Biodiversity, carbon stocks and sequestration potential in aboveground biomass in smallholder farming systems of western Kenya. Agriculture, Ecosystems and Environment 129, 238–252.</li>
  			<li><b>Melson, S.L., Harmon, M.E., Fried, J.S., Domingo, J.B., 2011.</b> Estimates of live-tree carbon stores in the Pacific Northwest are sensitive to model selection. Carbon Balance and Management 6.</li>
 			<li><b>Návar, J., 2009.</b> Biomass component equations for Latin American species and groups of species. Annual of Forest Sciences 66.</li>
  			<li><b>Parresol, B.R., 1999.</b> Assessing Tree and Stand Biomass: A Review with Examples and Critical Comparisons. Foresf Science 45, 573-593.</li>
			<li><b>Parresol, B.R., 2001.</b> Additivity of nonlinear biomass equations. Canadian journal of forest research 31, 865-878.</li>
  			<li><b>Picard, N., Ballo, M., Dembélé, F., Gautier, D., Kaïré, M., Karembé, M., Mahamane, A., Manlay, R., Ngom, D., Ntoupka, M., Ouattara, S., Savadogo, P., Sawadogo, L., Seghieri, J., Tiveau, D., 2006.</b> Evaluation de la productivité et de la biomasse des savanes sèches africaines: l'apport du colectif Savafor. Bois et forêts des tropiques 288, 75-80.</li>
 			<li><b>Picard, N., Henry, M., Mortier, F., Trotta, C., Saint-André, L., 2011.</b> Using Bayesian model averaging to predict tree aboveground biomass. Forest Science.</li>
 			<li><b>Saint-André, L., Henry, M., Genet, A., Trotta, C., Picard, N., 2010.</b> Fast calibration of robust biomass equations. From the conceptual framework to the application using the Carboafrica database on allometric, Open Science conference Toward a biophysical carbon accounting in Africa and perspectives for REDD and CDM Pointe-Noire (Republic of Congo) 17-19 March 2010.</li>
  		<li><b>Saint-André, L., M'Bou, A.T., Mabiala, A., Mouvondy, W., Jourdan, C., Rouspard, O., Deleporte, P., Hamel, O., Nouvellon, Y., 2005.</b> Age-related equations for above and below ground biomass of a Eucalyptus hybrid in Congo. Forest Ecology and Management 205, 199-214.</li>
  		<li><b>Sawadogo, L., Savadogo, P., Tiveau, D., Dayamba, S., Zida, D., Nouvellet, Y., Oden, P., Guinko, S., 2010.</b> Allometric prediction of above-ground biomass of eleven woody tree species in the Sudanian savanna-woodland of West Africa. Journal of Forestry Research 21, 475-481.</li>
  		<li><b>Sylla, M.L., Picard, N., 2005.</b> Guide méthodologique des évaluations rapides de bois énergie, in: techniques", C.G. (Ed.). Programme Régional de promotion des Énergies Domestiques et Alternatives au Sahel (PREDAS), CILSS, Ouagadougou, Burkina Faso.</li>
 		 <li><b>Zewdie, M., Olsson, M., Verwijst, T., 2009.</b> Above-ground biomass production and allometric relations of Eucalyptus globulus Labill. coppice plantations along a chronosequence in the central highlands of Ethiopia. biomass and bioenergy 33, 421-428.</li>
 		<li><b>Zianis, D., Petteri Muukkonen, Mäkipää, R., Mencuccini, M., 2005.</b> Biomass and Stem Volume Equations for Tree Species in Europe. Silva Fennica Monographs 4, 63.</li>
			</ul>
			</div>


			<div class="column2_right">
			<p>
			<h3>Fantallometrik DATABASE report</h3>	      
       		How the equations were collected and integrated into the database? This report describes the different steps to develop an harmonized database for volume and biomass tree allometric equations.</p>

<p>
      		<h3>Fantallometrik SOFTWARE report</h3>
      		 This report explains how to install and use the Fantallometrik SOFTWARE.</p>
<p>
      		<h3>Creative commons Licences</h3>
      		Creative Commons licenses provide simple, standardized alternatives to the “all rights reserved” paradigm of traditional copyright. http://creativecommons.org/</p>
			</div>











			<div class="meta">

			</div>
		</div>

	</div>
	<!-- end #content -->
	
	</div>

</div>


{% endblock %}



