{% extends "base.html" %}

{% block title %}Fantallometrik{% endblock %}

{% block script %}

	<script type="text/javascript" language="javascript" src="/media/js/jquery.js"></script>
	<script type="text/javascript" language="javascript" src="/media/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" language="javascript" src="/media/js/TableTools.min.js"></script>
	<script type="text/javascript" language="javascript" src="/media/js/ColVis.min.js"></script>



	<script type="text/javascript" charset="utf-8">
		$(document).ready(function() {
			$('#example').dataTable( {
				"iDisplayLength": 50,
				"aLengthMenu": [[50, 100, 200, 300, -1], [50, 100, 200, 300, "All"]],
				"sDom": 'C<"clear">lfrtip;T<"clear">lfrti',
				"aoColumnDefs": [ 
						{ "bVisible": false, "aTargets": [ 6, 7, 8, 9, 10, 11, 12 ] }
					],
				"oTableTools": {
					"sSwfPath": "/media/swf/copy_cvs_xls.swf",
           			"aButtons": [
						"copy",
               			{
                  		 	"sExtends": "csv",
                  			"sFieldBoundary": '"'
              			}
           			]
				} 
				} );
			} );
	</script>

	

	<script type="text/javascript">

		jQuery(document).ready(function(){
		    $('table tr').mouseover(function(){
    			$(this).addClass("hover");
   				 }).mouseout(function(){
    			$(this).removeClass("hover");		
   		 	});		
		});

	
		
		
		
		
    </script>



{% endblock %}


{% block content %}


<div id="page">
	<div id="content_fantaDB">
				<div id="demo">
				<table cellpadding="0" cellspacing="0" border="0" class="display" id="example">
					<thead>
						<tr>
							<th>ID</th>
							<th>Population</th>
							<th>Ecosystem</th>
							<th>Country</th>
							<th>Species</th>
							<th>Genus</th>
							<th>Latitude</th>
							<th>Longitude</th>						
							<th>Biome FAO</th>
							<th>Biome UDVARDY</th>
							<th>Biome WWF</th>
							<th>Biome HOLDRIDGE</th>
							<th>Reference</th>

						</tr>
					</thead>

					<tbody>
        			{% for object in object_list %}
						<tr onclick="location.href='http://fantallometrik.sites.djangohosting.ch/fantaDB_{{ object.id }}'" >
				            <td>{{ object.id }}</td>
							<td>{{ object.population }}</td>
							<td>{{ object.ecosystem }}</td>
							<td>{{ object.country.common_name }}</td>
							<td>{{ object.species }}</td>
							<td>{{ object.genus }}</td>
							<td>{{ object.latitude }}</td>
							<td>{{ object.longitude }}</td>
							<td>{{ object.biome_FAO }}</td>
							<td>{{ object.biome_UDVARDY }}</td>
							<td>{{ object.biome_WWF }}</td>
							<td>{{ object.biome_HOLDRIDGE }}</td>
							<td>{{ object.reference }}</td>
						</tr>
        			{% endfor %}
					</tbody>
					<tfoot>
						<tr>
							<th>ID</th>
							<th>Population</th>
							<th>Ecosystem</th>
							<th>Country</th>
							<th>Species</th>
							<th>Genus</th>
							<th>Latitude</th>
							<th>Longitude</th>
							<th>Biome FAO</th>
							<th>Biome UDVARDY</th>
							<th>Biome WWF</th>
							<th>Biome HOLDRIDGE</th>
							<th>Reference</th>
						</tr>
					</tfoot>
				</table>
				</div>
			</div>
			<div class="meta">

			</div>

	<!-- end #content -->


</div>


{% endblock %}



