{% extends "base.html" %}

{% block content %}

<div id="home" class="narrow-page">
    <div class="main">
        <div class="row">
            <div class="span12">
                <div id="carousel" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="active item">
                            <img src="media/images/carousel/locatelli-1.jpg" alt="">
                        </div>
                        <div class="item">
                            <img src="media/images/carousel/locatelli-2.jpg" alt="">
                        </div>
                        <div class="item">
                            <img src="media/images/carousel/locatelli-3.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span12">
                <p class="lead">
                    <strong>GlobAllomeTree is the international platform for tree allometric equations to support volume, biomass and carbon stock assessment for trees and forests. The platform allows accessing:</strong>
                </p>        
            </div>
        </div>
        <div class="row">
            <div class="span6">
                <div class="well clearfix">
                    <h4>Allometric Equation Database</h4>
                    <p>Updated databases containing tree allometric equations, and conversion factors per ecological zones, countries and continents</p>
                    <a href="/database" class="btn btn-success pull-right">View Data &gt;&gt;</a>
                </div>
            </div>
            <div class="span6">
                <div class="well clearfix">
                    <h4>Scientific Literature</h4>
                    <p>Updated links to scientific literature related to tree allometric equation and forest biomass assessment</p>
                    <a href="/journals" class="btn btn-success pull-right">Find Journals &gt;&gt;</a>
                </div>
            </div>
            <div class="span6">
                <div class="well clearfix">
                    <h4>Manuals and Tutorials</h4>
                    <p>Manuals and tutorials to facilitate assessment of volume, biomass and carbon stocks</p>
                    <a href="/docs" class="btn btn-success pull-right">View Manuals &gt;&gt;</a>
                </div>
            </div>
            <div class="span6">
                <div class="well clearfix">
                    <h4>Allometric Software</h4>
                    <p>Software for comparing tree allometric equations, assess volume, biomass and carbon stocks per tree components and forest types</p>
                    <a href="/software" class="btn btn-success pull-right">Get Software &gt;&gt;</a>
                </div>
            </div>
        </div>
    </div>
    
<script type="text/javascript">
    $('.carousel').carousel({
        interval: 4500
    })
</script>
</div>

{% endblock %}