{% extends "base.html" %}

{% block title %}Fantallometrik{% endblock %}

{% block content %}


<div id="page">
	<div id="content_links">

			<ul>

			<li><a href="http://www.fao.org/">FAO</a></li>

			<li><a href="http://www3.unitus.it/">UNITUS</a></li>

			<li><a href="http://www.cirad.fr/">CIRAD</a></li>

			<li><a href="http://www.disafri.unitus.it/">DISAFRI</a></li>



			</ul>





			<div class="meta">

			</div>
		</div>

	</div>
	<!-- end #content -->
	
	</div>

</div>


{% endblock %}



