{% extends "base.html" %}

{% block content %}

<div id="database">
    <div class="page-header">
        <h3>Scientific literature</h3>
    </div>
    <div class="row">
        <div class="span12">
            <ul>
                <li><a>http://www.journals.elsevier.com/forest-ecology-and-management/</a></li>
                <li><a>http://www.metla.fi/silvafennica/</a></li>
                <li><a>http://www.springer.com/life+sciences/ecology/journal/442</a></li>
                <li><a>http://www.journals.elsevier.com/biomass-and-bioenergy/</a></li>
                <li><a>http://www.safnet.org/publications/forscience/index.cfm</a></li>
                <li><a>http://www.afs-journal.org/</a></li>
                <li><a>http://www.springer.com/life+sciences/forestry/journal/11676</a></li>
                <li><a>http://www.cbmjournal.com/</a></li>
                
        </div>
    </div>
</div>

{% endblock %}



