{% extends "base.html" %}

{% block title %}Fantallometrik{% endblock %}

{% block content %}


<div id="page">
	<div id="content_docs">


			<div class="column2_left">
			<h3>Free Access</h3>
			<p>Fantallometrik DATABASE  and Fantallometrik SOFTWARE are freely accessible under the terms of the Creative Commons Public Liscence (CCPL). The work is protected by copyright and/or other applicable law. Any use of the work other than as authorized under this liscence or copyright law is prohibited.</p>
	<h4>You are free:</h4>

	<ul>

    <li> <strong>to Share:</strong> to copy, distribute and transmit the work</li> 
    <li>  <strong>to Remix:</strong> to adapt the work</li> 

	</ul>

	<h4>Under the following conditions:</h4>

    
	<ul>
      <li><strong>Attribution:</strong> You must attribute the work in the manner specified by the author or licensor (but not in any way that suggests that they endorse you or your use of the work).

      Attribute this work:
      Information
      What does "Attribute this work" mean?
      The page you came from contained embedded licensing metadata, including how the creator wishes to be attributed for re-use. You can use the HTML here to cite the work. Doing so will also include metadata on your page so that others can find the original work as well.</li>
    

      <li><strong>Noncommercial:</strong> You may not use this work for commercial purposes.</li>
    

      <li><strong>Share Alike:</strong> If you alter, transform, or build upon this work, you may distribute the resulting work only under the same or similar license to this one.</li>

	</ul>

<h4>With the understanding that:</h4>
	<ul>
	<li> <strong>Waiver:</strong> Any of the above conditions can be waived if you get permission from the copyright holder.</li> 
    <li> <strong>Public Domain:</strong>  Where the work or any of its elements is in the public domain under applicable law, that status is in no way affected by the license.</li>
    <li> <strong>Other Rights:</strong> In no way are any of the following rights affected by the license:</li> 
	<ul>
    <li> Your fair dealing or fair use rights, or other applicable copyright exceptions and limitations;</li>
    <li> The author's moral rights;</li>
    <li> Rights other persons may have either in the work itself or in how the work is used, such as publicity or privacy rights.</li>
	</ul>
    <li> <strong>Notice:</strong>  For any reuse or distribution, you must make clear to others the license terms of this work. The best way to do this is with a link to this web page.</li>
	</ul>

			</div>


			<div class="column2_right">
			<h3>Principles</h3>
 
 			<ul>
			<li><h4>Free data access for non commercial use</h4> For commercial purpose access, 100% of the financial gains are invested to maintain, update and improve the platform.</li>
			<li><h4>Sharing data and experiences</h4>  This platform is unique and the users are very encouraged to share their data and new allometric equations. This is crucial to help updtaing the databases and enrich the platform.</li>
			<li><h4>Validate and consolidate existing data</h4>  users are encourage to infomr us whne alloemtric equaitons appear to be suspect. This will alow us to check the references, to correct or suggest corrections of the allometric equations.</li>
			</ul>
			</div>











			<div class="meta">

			</div>
		</div>

	</div>
	<!-- end #content -->
	
	</div>

</div>


{% endblock %}



