{% load staticfiles %}

<div class="row">     
    <div class="col-md-12">
         <br>
        <h3>Record #{{ record.ID_BEF }} Details</h3>
        <table class="table">
            <tr><th style="width:210px"> Biomass Expansion Factor: </th><td>{{ record.BEF }}</td></tr>
            <tr><th style="width:210px"> Growing Stock: </th><td>{{ record.Growing_stock }}</td></tr>
            <tr><th style="width:210px"> Aboveground Biomass: </th><td>{{ record.Aboveground_biomass }}</td></tr>
            <tr><th style="width:210px"> Net Annual Increment: </th><td>{{ record.Net_annual_increment }}</td></tr>
            <tr><th style="width:210px"> Stand Density: </th><td>{{ record.Stand_density }}</td></tr>
            <tr><th style="width:210px"> Age: </th><td>{{ record.Age }}</td></tr>
            <tr><th style="width:210px"> Input: </th><td>{{ record.Input }}</td></tr>
            <tr><th style="width:210px"> Output: </th><td>{{ record.Output }}</td></tr>
            <tr><th style="width:210px"> Interval Validity: </th><td>{{ record.Interval_validity }}</td></tr>
        </table>
    </div>
</div>
