{% load crispy_forms_tags %}
{% load staticfiles %}

<form method="get" action="." id="searchForm" autocomplete="off">
    <div id="search-box" style="clear:both;">
        <ul class="nav nav-tabs">
            <li><a href="#keyword" data-toggle="tab" class="active">Keyword</a></li>
            <li><a href="#wooddensity" data-toggle="tab">Wood Density</a></li>
            <li><a href="#taxonomy" data-toggle="tab">Taxonomy</a></li>
            <li><a href="#location" data-toggle="tab">Location</a></li>
            <li><a href="#reference" data-toggle="tab">Reference</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="keyword">
                <p class="search-help-text">
                    Search wood densities by keyword.
                    This searches accross several text fields. <br>
                    Example searches: <a href="?q=Acacia">Acacia</a>,
                       <a href="?q=Zambia">Zambia</a>,
                       <a href="?q=Bellefontaine">Bellefontaine</a>,
                       <a href="?q=Glutinosum">Glutinosum</a>,
                       <a href="?q=rainforest">rainforest</a>
                </p>
                <div class="row">
                    <div class="col-lg-6">
                        {{ form.q|as_crispy_field }}
                    </div>
                </div>
            </div>

            <div class="tab-pane" id="wooddensity">
                <p class="search-help-text">
                    Search wood densities by tree specification.
                    This searches accross several fields. <br>
                </p>
                <h4 style="font-weight:normal;color:#777;border-bottom:1px solid #ccc;padding-bottom:4px;">Height <span class="variable-label">(m)</span></h4>
                <div class="row smallInputs">
                    <div class="col-lg-4">
                        <h4>Average Height </h4>
                        {{ form.H_tree_avg__gte|as_crispy_field }}
                        {{ form.H_tree_avg__lte|as_crispy_field }}
                    </div>
                    <div class="col-lg-4">
                        <h4>Minimum Height</h4>
                        {{ form.H_tree_min__gte|as_crispy_field }}
                        {{ form.H_tree_min__lte|as_crispy_field }}
                    </div>
                    <div class="col-lg-4">
                        <h4>Maximum Height</h4>
                        {{ form.H_tree_max__gte|as_crispy_field }}
                        {{ form.H_tree_max__lte|as_crispy_field }}
                    </div>
                </div>
                <br />
                <h4 style="font-weight:normal;color:#777;border-bottom:1px solid #ccc;padding-bottom:4px;">DBH <span class="variable-label">(cm)</span></h4>
                <div class="row smallInputs">
                    <div class="col-lg-4">
                        <h4>Average DBH</h4>
                        {{ form.DBH_tree_avg__gte|as_crispy_field }}
                        {{ form.DBH_tree_avg__lte|as_crispy_field }}
                    </div>
                    <div class="col-lg-4">
                        <h4>Minimum DBH</h4>
                        {{ form.DBH_tree_min__gte|as_crispy_field }}
                        {{ form.DBH_tree_min__lte|as_crispy_field }}
                    </div>
                    <div class="col-lg-4">
                        <h4>Maximum DBH</h4>
                        {{ form.DBH_tree_max__gte|as_crispy_field }}
                        {{ form.DBH_tree_max__lte|as_crispy_field }}
                    </div>
                </div>
                <br />
                <h4 style="font-weight:normal;color:#777;border-bottom:1px solid #ccc;padding-bottom:4px;">Wood Mass Measured </h4>
                <div class="row smallInputs">
                    <div class="col-lg-4">
                        <h4>Wood Mass <span class="variable-label">(g/cm<sup>3</sup>)</span></h4>
                        {{ form.m_WD__gte|as_crispy_field }}
                        {{ form.m_WD__lte|as_crispy_field }}
                    </div>
                    <div class="col-lg-4">
                        <h4>Moisture Content <span class="variable-label">(%)</span></h4>
                        {{ form.MC_m__gte|as_crispy_field }}
                        {{ form.MC_m__lte|as_crispy_field }}
                    </div>
                </div>
              <br />
              <h4 style="font-weight:normal;color:#777;border-bottom:1px solid #ccc;padding-bottom:4px;">Wood Volume Measured</h4>
                <div class="row smallInputs">
                    <div class="col-lg-4">
                        <h4>Wood Volume</h4>
                        {{ form.V_WD__gte|as_crispy_field }}
                        {{ form.V_WD__lte|as_crispy_field }}
                    </div>
                    <div class="col-lg-4">
                        <h4>Moisture Content</h4>
                        {{ form.MC_V__gte|as_crispy_field }}
                        {{ form.MC_V__lte|as_crispy_field }}
                    </div>
                </div>
              <br />
              <h4 style="font-weight:normal;color:#777;border-bottom:1px solid #ccc;padding-bottom:4px;">Wood Density</h4>
                <div class="row smallInputs">
                    <div class="col-lg-4">
                        <h4>Density</h4>
                        {{ form.Density_g_cm3__gte|as_crispy_field }}
                        {{ form.Density_g_cm3__lte|as_crispy_field }}
                    </div>
                    <div class="col-lg-4">
                        <h4>Minimum Density</h4>
                        {{ form.Min__gte|as_crispy_field }}
                        {{ form.Min__lte|as_crispy_field }}
                    </div>
                    <div class="col-lg-4">
                        <h4>Maximum Density</h4>
                        {{ form.Max__gte|as_crispy_field }}
                        {{ form.Max__lte|as_crispy_field }}
                    </div>
                    <br />
                </div>
              <br />
              <h4 style="font-weight:normal;color:#777;border-bottom:1px solid #ccc;padding-bottom:4px;">Other Measurements</h4>
                <div class="row smallInputs">
                    <div class="col-lg-4">
                        <h4>Coefficient of Retraction</h4>
                        {{ form.CR__gte|as_crispy_field }}
                        {{ form.CR__lte|as_crispy_field }}
                    </div>
                    <div class="col-lg-4">
                        <h4>Fiber Saturation Point</h4>
                        {{ form.FSP__gte|as_crispy_field }}
                        {{ form.FSP__lte|as_crispy_field }}
                    </div>
                </div>            
            </div>

           {% include 'base/search_tab_taxonomy.html' %}
           {% include 'base/search_tab_location.html' %}
           {% include 'base/search_tab_reference.html' %}

        </div>

        <input type="hidden" name="page" value="1">
        <div id="search-submit-holder">
            <input id="searchButton" style="float:right" class="btn btn-success" type="submit" value="Search">
        </div>

    </div>

</form>
