<!-- template header.html -->
{% import "macros.html" as macros %}
<header id="main-header">
    <div class="container" >
        <h1>GlobAllomeTree</h1>
        <p class="header-summary">Assessing volume, biomass and carbon stocks of trees and forests.</p>
        <img src="{% static 'images/white_trees.png' %}" alt="" id="header-trees" width="1400" height="81" style="width:1400px;height:81px;max-width:1400px;"/>
        <div id="logo-cirad" class="logo-image-link" title="CIRAD - Centre de coopération internationale en recherche agronomique pour le développement">
            <a  href="http://www.cirad.fr/" target="_blank" >
                <img src="{% static 'images/logos/logo-cirad-75.png' %}" alt="Cirad"  />
            </a>
        </div>
        <div id="logo-fao" class="logo-image-link" title="FAO - Food and Agriculture Organization of the United Nations">
            <a  href="http://www.fao.org/" target="_blank" >
                <img src="{% static 'images/logos/logo-fao-75.png' %}" alt="FAO" />
            </a>
        </div>
        <div id="logo-tuscia" class="logo-image-link" title="UNITUS - DIBAF: Università degli Studi della Tuscia">
            <a  href="http://www.unitus.it/" target="_blank" >
                 <img src="{% static 'images/logos/logo-tuscia-75.png' %}" alt="Tuscia University" />
            </a>
        </div>
    </div>
</header>
<div 
    id="header"
    class="without-logo"
>
        
    <div class="content-wrapper">
        <div id="userToolsNav">
            {% include "widgets/user_navigation.html" %}
        </div>
        {% if settings.SHOW_LOGO %}
            {% include "widgets/logo.html" %}
        {% endif %}
        <div id="metaNav">
            {% include "widgets/meta_nav.html" %}
        </div>
        <div class="clean"></div>
    </div>
</div>
<!-- end template header.html -->
