{% load staticfiles %}

<div class="row">     
    <div class="col-md-12">
         <br>
        <h3>Allometry</h3>
        <table class="table">
            <tr><th style="width:210px"> Equation: </th><td> <code>{{ record.Substitute_equation }} </code> </td></tr>
            <tr><th> Sample size: </th><td> {{ record.Sample_size }} </td></tr>
            <tr><th> R2: </th><td> {{ record.R2|floatformat:"-2" }} </td></tr>
              <tr><th style="width:210px"> Population: </th><td> {{ record.population }} </td></tr>
        </table>
    </div>
</div>

<div class="row">    
    <div class="col-md-12">
        <br>
        <h3>Components</h3>
        <table class="table" >
            <tr>
                <th style="width:210px"> Components: </th>
                <td >
                    <strong><em>{{ record.components_string }}</em></strong>
                </td>
            </tr>
        </table> 
        <img src="{% static 'images/components.png' %}" width="300" />
        <br><br>
    </div>
</div>

<div class="row">     
    <div class="col-md-12">
        <br>
        <h3>Input/Output</h3>
        <table class="table">
            <tr><th style="width:210px"> X: </th><td> {{ record.X }} </td></tr>
            <tr><th> Unit X: </th><td> {{ record.Unit_X }} </td></tr>
            <tr><th> Unit Y: </th><td> {{ record.Unit_Y }} </td></tr>
            <tr><th> Z: </th><td> {{ record.Z }} </td></tr>
            <tr><th> Unit Z: </th><td> {{ record.Unit_Z }} </td></tr>
            <tr><th> W: </th><td> {{ record.W }} </td></tr>
            <tr><th> Unit_W: </th><td> {{ record.Unit_W }} </td></tr>
            <tr><th> U: </th><td> {{ record.U }} </td></tr>
            <tr><th> Unit_U: </th><td> {{ record.Unit_U }} </td></tr>
            <tr><th> V: </th><td> {{ record.V }} </td></tr>
            <tr><th> Unit V: </th><td> {{ record.Unit_V }} </td></tr>
            <tr><th> Min X: </th><td> {{ record.Min_X|floatformat:"-2" }} </td></tr>
            <tr><th> Max X: </th><td> {{ record.Max_X|floatformat:"-2" }} </td></tr>
            <tr><th> Min Z: </th><td> {{ record.Min_Z|floatformat:"-2" }} </td></tr>
            <tr><th> Max Z: </th><td> {{ record.Max_Z|floatformat:"-2" }} </td></tr>
            <tr><th> Output: </th><td> {{ record.Output }} </td></tr>
            <tr><th> Output TR: </th><td> {{ record.Output_TR }} </td></tr>
            <tr><th> Age: </th><td> {{ record.Age }} </td></tr>
            <tr><th> Veg component: </th><td> {{ record.Veg_Component }} </td></tr>
        </table>
    </div>
</div>
