{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Fantallometrik{% endblock %}

{% block script %}	
    
    {% if allometric_equation.location_group.get_precise_coordinates %}
     <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />
        <script src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js"></script>

        <script type="text/javascript">
        $("#point_map_canvas").css({ 'height' : '350px',
                                     'width' : '500px'});
        


        $(function () {
            //The map object
            var map = L.map("point_map_canvas", {
                minZoom: 1,
                maxZoom: 15
            }).setView([0,0], 1);;      	
        
            L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
                    attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
            }).addTo(map);


            {% for location in allometric_equation.location_group.get_precise_coordinates %}
                 // add a marker in the given location, attach some popup content to it and open the popup
                L.marker([{{location.lat}}, {{location.lon}}]).addTo(map)
                .bindPopup('[{{location.lat}}, {{location.lon}}]')
                .openPopup();

            {% endfor %}
           

        });
    </script>
    {% else %}
        <script type="text/javascript">
            $(function () {
                $("#point_map_canvas").html('Precise geographic locations not available');
            });
        </script>
    {% endif %}
{% endblock %}

{% block content %}


<div class="row">     
    <div class="col-md-12">
        <div style="float:right;"><a href="pdf"><img src="{% static 'images/pdficon.png' %}" /> Download equation as PDF</a></div>
        <div class="page-header">
            <h2>Allometric Equation {{ allometric_equation.ID }}</h2>
        </div>
    </div>
</div>        

<div class="row">     
    <div class="col-md-12">
         <br>
        <h3>Allometry</h3>
        <table class="table">
            <tr><th style="width:210px"> Equation: </th><td> <code>{{ allometric_equation.Substitute_equation }} </code> </td></tr>
            <tr><th> Sample size: </th><td> {{ allometric_equation.Sample_size }} </td></tr>
            <tr><th> R2: </th><td> {{ allometric_equation.R2|floatformat:"-2" }} </td></tr>
        </table>
    </div>
</div>
<div class="row">     
    <div class="col-md-12">
        <br>
        <h3>Taxonomy</h3>
        <table class="table">
            <tr><th style="width:210px"> Population: </th><td> {{ allometric_equation.population }} </td></tr>
            <tr><th> Species:</th><td> {% for species in allometric_equation.species_group.species_set %} {{species}} <br> {% endfor %}</td></tr>
        </table>
  </div>
</div>
<div class="row">     
    <div class="col-md-12">    
        <br>
        <h3>Location</h3>
        
        <table class="table">  
            
            <tr><th style="width:210px"> Location Names: </th><td> {{ allometric_equation.location_group.locations_string }} </td></tr>  
            <tr><th> Country: </th><td> {{ allometric_equation.location_group.countries_string }} </td></tr>
            <tr><th> Continent: </th><td> {{ allometric_equation.location_group.continents_string }} </td></tr>
            <tr><th > Ecosystem: </th><td> {{ allometric_equation.ecosystem }} </td></tr>
            <tr><th> Biome FAO: </th><td> {{ allometric_equation.location_group.biomes_fao_string }} </td></tr>
            <tr><th> Biome UDVARDY: </th><td> {{ allometric_equation.location_group.biomes_udvardy_string }} </td></tr>
            <tr><th> Biome WWF: </th><td> {{ allometric_equation.location_group.biomes_wwf_string }} </td></tr>
            <tr><th> Biome HOLDRIDGE: </th><td> {{ allometric_equation.location_group.biomes_holdridge_string }} </td></tr>
            <tr> <th> Division BAILEY: </th><td> {{ allometric_equation.location_group.divisions_bailey_string }} </td></tr>
             <tr> <th> Precise Locations [Lat Lon]: </th><td> {{ allometric_equation.location_group.lat_lon_string }}

           </td></tr>

        </table>
        <h5>Map</h5>
        <div id="point_map_canvas">
        </div>
  </div>
</div>

<div class="row">    
    <div class="col-md-12">
        <br>
        <h3>Components</h3>
        <table class="table" >
            <tr>
                <th style="width:210px"> Components: </th>
                <td >
                    <strong><em>{{ allometric_equation.components_string }}</em></strong>
                </td>
            </tr>
        </table> 
        <img src="{% static 'images/components.png' %}" width="300" />
        <br><br>
    </div>
</div>

<div class="row">     
    <div class="col-md-12">
        <br>
        <h3>Input/Output</h3>
        <table class="table">
            <tr><th style="width:210px"> X: </th><td> {{ allometric_equation.X }} </td></tr>
            <tr><th> Unit X: </th><td> {{ allometric_equation.Unit_X }} </td></tr>
            <tr><th> Unit Y: </th><td> {{ allometric_equation.Unit_Y }} </td></tr>
            <tr><th> Z: </th><td> {{ allometric_equation.Z }} </td></tr>
            <tr><th> Unit Z: </th><td> {{ allometric_equation.Unit_Z }} </td></tr>
            <tr><th> W: </th><td> {{ allometric_equation.W }} </td></tr>
            <tr><th> Unit_W: </th><td> {{ allometric_equation.Unit_W }} </td></tr>
            <tr><th> U: </th><td> {{ allometric_equation.U }} </td></tr>
            <tr><th> Unit_U: </th><td> {{ allometric_equation.Unit_U }} </td></tr>
            <tr><th> V: </th><td> {{ allometric_equation.V }} </td></tr>
            <tr><th> Unit V: </th><td> {{ allometric_equation.Unit_V }} </td></tr>
            <tr><th> Min X: </th><td> {{ allometric_equation.Min_X|floatformat:"-2" }} </td></tr>
            <tr><th> Max X: </th><td> {{ allometric_equation.Max_X|floatformat:"-2" }} </td></tr>
            <tr><th> Min Z: </th><td> {{ allometric_equation.Min_Z|floatformat:"-2" }} </td></tr>
            <tr><th> Max Z: </th><td> {{ allometric_equation.Max_Z|floatformat:"-2" }} </td></tr>
            <tr><th> Output: </th><td> {{ allometric_equation.Output }} </td></tr>
            <tr><th> Output TR: </th><td> {{ allometric_equation.Output_TR }} </td></tr>
            <tr><th> Age: </th><td> {{ allometric_equation.Age }} </td></tr>
            <tr><th> Veg component: </th><td> {{ allometric_equation.Veg_Component }} </td></tr>
        </table>
    </div>
</div>
<div class="row">     
    <div class="col-md-12">
        <br>
        <h3>Reference</h3>
        <table class="table">
            <tr><th style="width:210px"> Label: </th><td> {{ allometric_equation.reference.label }} </td></tr>
            <tr><th> Author: </th><td> {{ allometric_equation.reference.author }} </td></tr>
            <tr><th> Year: </th><td> {{ allometric_equation.reference.year }} </td></tr>
            <tr><th> Reference: </th><td> {{ allometric_equation.reference.reference }} </td></tr>
        </table>
    </div>
</div>
{% endblock %}