{% extends 'base.html' %}
{% load staticfiles %}
{% block script %}

    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />
    <link rel="stylesheet" href="{% static 'allometric_equations/css/search.css' %}" />

    <script src="{% static 'allometric_equations/js/elastic.min.js' %}"></script>
    <script src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/mustache.js/0.7.2/mustache.min.js"></script>

    <script src="{% static 'allometric_equations/js/geohash.js' %}"></script>
    <script src="{% static 'allometric_equations/js/search.js' %}"></script>
    <script src="{% static 'allometric_equations/js/list.js' %}"></script>
    <script src="{% static 'allometric_equations/js/map.js' %}"></script>

    {% if form_is_valid %}
        <script type="text/javascript"> 

            $(function() {
                //Get the search manager from allometric_equations/js/search.js
                var app = window.app;
                app.country_centroids = {{country_centroids|safe}};
                app.searchManager.setSearchDict({{search_dict|safe}});
                app.listController.init({
                    el : 'results-list-container'           
                });
                $('a[href="#results-map"]').on('shown.bs.tab', function(){
                    app.mapController.initOrShowMap({
                        el : 'map'            
                    });
                });    

            });
        </script>
    {% endif %}

{% endblock %}

{% block content %}

	<div id="equations_page">
	    

        <h3>Allometric Equation Search</h3>
	    

        <div class="clearfix"></div>

        <!-- Search Form -->
        {% include 'allometric_equations/template.search.form.html'%}
		
    	{% if form_is_valid %}
            <div id="search-results">
        		<!-- Result Tabs -->
                <div style="float:right"> 
                    <a target="_blank" href="/data/export/{{form.export_link}}"
                        class="btn btn-succcess" id="exportButton">
                        Export
                        <span class="glyphicon glyphicon-download"></span> 
                    </a>
                </div>
        		<ul id="results-tab" class="nav nav-tabs">
        			<li class="active">
        				<a href="#results-list" data-toggle="tab"><span class="glyphicon glyphicon-list"></span> Results List</a>
        			</li>
        			<li>
        				<a id="list-tab" href="#results-map" data-toggle="tab"><span class="glyphicon glyphicon-globe"></span> Map View</a>
        			</li>
                    <li>
                        <a href="#search-summary" data-toggle="tab"><span class="glyphicon  glyphicon-stats"></span> Search  Summary</a>
                    </li>
        		</ul>
        		
        		<div class="tab-content">
        			<div class="tab-pane active" id="results-list">
        			     <div id="results-list-container"></div>
        			</div>
        			
        			<div class="tab-pane" id="results-map">
        				<div id="map"></div>
        			</div>
                    <div class="tab-pane" id="search-summary">
                        {% include 'allometric_equations/template.search.summary.html'%}
                    </div>
                </div>
        	</div>	
        {% else %}
            <h3> Invalid Search - Please revise the form for any errors</h3>
    	{% endif %}
	    
    </div>

{% endblock %}