<div class="row">
  <div class="col-lg-6">

   <h3>Equations found: <span id="summary-results-total"></span> </h3>
   <br><br>
  
  </div>

  <div class="col-lg-6">
    
    <h3> Search criteria</h3>
    {% if current_search_summary %}
      <p><a href="?">Clear all search criteria</a></p>

      <dl class="dl-horizontal"> 
       {% for item in current_search_summary %}
          <dt>{{item.field}}</dt>
          <dd>{{item.search_value|truncatechars:48 }} <a style="float:right" href="{{item.clear_link}}">clear</a></dd>
            
       {% endfor %}
      </dl>
    {% else %}
      <p>All results shown</p>
    {% endif %}
  </div>
</div>