{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Fantallometrik{% endblock %}

{% block script %}	
    <script type='text/javascript' src='https://www.google.com/jsapi'></script>
    <script type='text/javascript'>
        google.load('visualization', '1', {'packages': ['geochart']});
        google.setOnLoadCallback(drawRegionsMap);
    
        function drawRegionsMap() {
            var data = new google.visualization.DataTable();
            data.addRows(1);
            data.addColumn('string', 'Country');
            data.setValue(0, 0, '{{ allometric_equation.Country.iso_3166_1_2_letter_code }}');
        
            var options = { width: '400',backgroundColor : {stroke : '#bbb'}, datalessRegionColor : 'FCFCFC' };
        
            var container = document.getElementById('regions_map_canvas');
            var geochart = new google.visualization.GeoChart(container);
            geochart.draw(data, options);
            window.geochart = geochart;
        }
    </script>
    {% if allometric_equation.Latitude %}
    <script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAeYuEKNTghtouEoy-USjrJff3A32F9DP4&sensor=false">
    </script>
    <script type="text/javascript">
        $(function () {
            var map = null;
            //var initialBounds = null;
        	$('#locationTab').click(function () {
                if (map == null) {
                    $('#point_map_canvas_holder').html('');
                    $('#point_map_canvas_holder').html('<div style="width:400px;height:300px;" id="point_map_canvas"></div>');
                    var center =  new google.maps.LatLng({{ allometric_equation.Latitude }}, {{ allometric_equation.Longitude }});
                    var mapOptions = {
                        center: center,
                        zoom: 11,
                        mapTypeId: google.maps.MapTypeId.HYBRID,
                        panControl: true,
                        zoomControl: true,
                        scaleControl: true
                    };
                    map = new google.maps.Map(document.getElementById("point_map_canvas"), mapOptions);
                    var marker = new google.maps.Marker({
                        position: center,
                        map: map
                    });
                } else {
                    //Timeout until the tab appears so the map can be redrawn correctly
                    setTimeout( function () {google.maps.event.trigger(map, 'resize');} , 200); 
                }
            });
        });
    </script>
    {% else %}
    <script type="text/javascript">
        $(function () {
            $("#point_map_canvas").html('Precise location not available');
        });
    </script>
    {% endif %}
    <style>
        #TreeEquation_id table td {
            white-space:wrap;
        }
    </style>
{% endblock %}

{% block content %}


        <div style="float:right;"><a href="pdf"><img src="{% static 'images/pdficon.png' %}" /> Download equation as PDF</a></div>
        <div class="page-header">
            <h2>Equation {{ allometric_equation.ID }}</h2>
        </div>
        

<div class="row">     
    <div class="col-md-12">
        <h3>Allometry</h3>
        <table class="table">
            <tr><th style="width:200px"> Equation: </th><td> <code>{{ allometric_equation.Substitute_equation }} </code> </td></tr>
            <tr><th> Sample size: </th><td> {{ allometric_equation.Sample_size }} </td></tr>
            <tr><th> R2: </th><td> {{ allometric_equation.R2|floatformat:"-2" }} </td></tr>
        </table>
    </div>
</div>
<div class="row">     
    <div class="col-md-12">
        <h3>Taxonomy</h3>
        <table class="table">
            <tr><th style="width:200px"> Population: </th><td> {{ allometric_equation.population }} </td></tr>
            <tr><th> Species:</th><td> {% for species in allometric_equation.species_group.species_set %} {{species}} <br> {% endfor %}</td></tr>
        </table>
  </div>
</div>
<div class="row">     
    <div class="col-md-12">    
        <h3>Location</h3>
        
        <table class="table">  
            <tr><th style="width:200px"> Ecosystem: </th><td> {{ allometric_equation.ecosystem }} </td></tr>
            <tr><th> Continent: </th><td> {{ allometric_equation.location_group.continents_string }} </td></tr>
            <tr><th> Country: </th><td> {{ allometric_equation.location_group.countries_string }} </td></tr>
            <tr><th> Location Name: </th><td> {{ allometric_equation.location_group.locations_string }} </td></tr>
            <tr><th> Biome FAO: </th><td> {{ allometric_equation.location_group.biomes_fao_string }} </td></tr>
            <tr><th> Biome UDVARDY: </th><td> {{ allometric_equation.location_group.biomes_udvardy_string }} </td></tr>
            <tr><th> Biome WWF: </th><td> {{ allometric_equation.location_group.biomes_wwf_string }} </td></tr>
            <tr><th> Biome HOLDRIDGE: </th><td> {{ allometric_equation.location_group.biomes_holdridge_string }} </td></tr>
            <tr class="odds">  <th> Division BAILEY: </th><td> {{ allometric_equation.location_group.divisions_bailey_string }} </td></tr>
        </table>
  </div>
</div>
<div class="row">    
    <div class="col-md-12">
        <h3>Components</h3>
        <table class="table" >
            <tr>
                <th style="width:200px"> Components: </th>
                <td >
                    {{ allometric_equation.components_string }}
                </td>
            </tr>
        </table> 
        <img src="{% static 'images/components.png' %}" width="300" />
        <br><br>
    </div>
</div>
<div class="row">     
    <div class="col-md-12">
        <h3>Input/Output</h3>
        <table class="table">
            <tr><th style="width:200px"> X: </th><td> {{ allometric_equation.X }} </td></tr>
            <tr><th> Unit X: </th><td> {{ allometric_equation.Unit_X }} </td></tr>
            <tr><th> Unit Y: </th><td> {{ allometric_equation.Unit_Y }} </td></tr>
            <tr><th> Z: </th><td> {{ allometric_equation.Z }} </td></tr>
            <tr><th> Unit Z: </th><td> {{ allometric_equation.Unit_Z }} </td></tr>
            <tr><th> W: </th><td> {{ allometric_equation.W }} </td></tr>
            <tr><th> Unit_W: </th><td> {{ allometric_equation.Unit_W }} </td></tr>
            <tr><th> U: </th><td> {{ allometric_equation.U }} </td></tr>
            <tr><th> Unit_U: </th><td> {{ allometric_equation.Unit_U }} </td></tr>
            <tr><th> V: </th><td> {{ allometric_equation.V }} </td></tr>
            <tr><th> Unit V: </th><td> {{ allometric_equation.Unit_V }} </td></tr>
            <tr><th> Min X: </th><td> {{ allometric_equation.Min_X|floatformat:"-2" }} </td></tr>
            <tr><th> Max X: </th><td> {{ allometric_equation.Max_X|floatformat:"-2" }} </td></tr>
            <tr><th> Min Z: </th><td> {{ allometric_equation.Min_Z|floatformat:"-2" }} </td></tr>
            <tr><th> Max Z: </th><td> {{ allometric_equation.Max_Z|floatformat:"-2" }} </td></tr>
            <tr><th> Output: </th><td> {{ allometric_equation.Output }} </td></tr>
            <tr><th> Output TR: </th><td> {{ allometric_equation.Output_TR }} </td></tr>
            <tr><th> Age: </th><td> {{ allometric_equation.Age }} </td></tr>
            <tr><th> Veg component: </th><td> {{ allometric_equation.Veg_Component }} </td></tr>
        </table>
    </div>
</div>
<div class="row">     
    <div class="col-md-7">
        <h3>Reference</h3>
        <table class="table">
            <tr><td style="width:200px"> Label: </td><td> {{ allometric_equation.reference.label }} </td></tr>
            <tr><td> Author: </td><td> {{ allometric_equation.reference.author }} </td></tr>
            <tr><td> Year: </td><td> {{ allometric_equation.reference.year }} </td></tr>
            <tr><td> Reference: </td><td> {{ allometric_equation.reference.reference }} </td></tr>
        </table>
    </div>
</div>
{% endblock %}