{% load crispy_forms_tags %}
{% load staticfiles %}

<form method="get" action="." id="searchForm" autocomplete="off">
    <div id="search-box" style="clear:both;">    
        <ul class="nav nav-tabs">                   
            <li><a href="#keyword" data-toggle="tab" class="active">Keyword</a></li>
            <li><a href="#identification" data-toggle="tab">Identification</a></li>
            
            <li><a href="#components" data-toggle="tab">Components</a></li>
            <li><a href="#input_output" data-toggle="tab">Input/Output</a></li>
            <li><a href="#allometry" data-toggle="tab">Allometry</a></li>
            <li><a href="#taxonomy" data-toggle="tab">Taxonomy</a></li>
            <li><a href="#location" data-toggle="tab">Location</a></li>
            <li><a href="#reference" data-toggle="tab">Reference</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="keyword">
                <p class="search-help-text">
                    Search allometric equations by keyword. 
                    This searches accross several text fields. <br>
                    Example searches: <a href="?q=Acacia">Acacia</a>,
                       <a href="?q=Zambia">Zambia</a>,
                       <a href="?q=Bellefontaine">Bellefontaine</a>, 
                       <a href="?q=Glutinosum">Glutinosum</a>,
                       <a href="?q=rainforest">rainforest</a>
                </p>
                <div class="row">
                    <div class="col-lg-6">
                        {{ form.q|as_crispy_field }}
                    </div>
                </div>
            </div>

            <div class="tab-pane" id="identification">
    	       <p class="search-help-text">
                    Search allometric equations by tree type and population. <br>
                    Example searches: 
                       <a href="?Population=STAND">Population: STAND</a>
                </p>
                <div class="row">
                    <div class="col-lg-6">
                        {{ form.Population|as_crispy_field }}
                    </div>
                </div>
            </div>

           {% include 'base/search_tab_taxonomy.html' %}
           {% include 'base/search_tab_location.html' %}
           {% include 'base/search_tab_reference.html' %}
           {% include 'base/search_tab_components.html' %}
     

            <div class="tab-pane" id="input_output">
                <p class="search-help-text">
                    Search allometric equations by equation input and output characteristics. <br>
                    Example searches: 
                       <a href="?Output=Biomass">Output: Biomass</a>,
                       <a href="?Unit_X=cm&amp;Min_X__gte=10&amp;Min_X__lte=50">Unit X: cm + Min X From: 10 + Min X To: 50</a>
                </p>
                <div class="row smallInputs">
                    <div class="col-lg-3">
                        {{ form.U|as_crispy_field }}
                        {{ form.V|as_crispy_field }}
                        {{ form.W|as_crispy_field }}
                        {{ form.X|as_crispy_field }}
                        {{ form.Z|as_crispy_field }}
                    </div>
                    <div class="col-lg-3">
                        {{ form.Unit_U|as_crispy_field }}
                        {{ form.Unit_V|as_crispy_field }}
                        {{ form.Unit_W|as_crispy_field }}
                        {{ form.Unit_X|as_crispy_field }}
                        {{ form.Unit_Y|as_crispy_field }}
                        {{ form.Unit_Z|as_crispy_field }}
                    </div>
                    <div class="col-lg-3">
                        {{ form.Min_X__gte|as_crispy_field }}
                        {{ form.Max_X__gte|as_crispy_field }}
                        {{ form.Min_Z__gte|as_crispy_field }}
                        {{ form.Max_Z__gte|as_crispy_field }}
                        {{ form.Output|as_crispy_field }}
                    </div>
                    <div class="col-lg-3">
                        {{ form.Min_X__lte|as_crispy_field }}
                        {{ form.Max_X__lte|as_crispy_field }}
                        {{ form.Min_Z__lte|as_crispy_field }}
                        {{ form.Max_Z__lte|as_crispy_field }}
                    </div>
                </div>
            </div>
     
    
            <div class="tab-pane" id="allometry">
                <p class="search-help-text">
                    Search inside the equation <br>
                    Example searches: 
                       <a href="?Equation=log(H)">Equation contains: log(H)</a>,
                       <a href="?Equation=DBH^2">Equation contains: DBH^2</a>
                </p>
                <div class="row">
                    <div class="col-lg-6">
                        {{ form.Equation|as_crispy_field }}
                    </div>
                </div>  
            </div>
        </div>
      
        {{ form.order_by }} 
        
        <input type="hidden" name="page" value="1">
        <div id="search-submit-holder">
            <input id="searchButton" style="float:right" class="btn btn-success" type="submit" value="Search">
        </div>
        
    </div>
            
</form>
