{% extends 'globallometree_base.html' %}
{% load crispy_forms_tags %} 

{% block script %}


{% endblock %}


{% block content %}
<div id="page" class="narrow-page">
    <div class="row">
        <div class="col-md-6">
              <h4>How to submit data</h4>
              <p>
                <ul>
                    <li>The file should be encoded as <strong>{{ export_encoding }}</strong></li>
                    <li>The file should be saved in <strong>CSV</strong> format with <strong>TAB</strong> field delimiters</li>
                    <li>When no data are available for a field, the field should be marked <strong>None</strong></li>
                    <li>True and False fields should be marked as <strong>True</strong> or <strong>False</strong></li>
                    <li>The file may be created using the <strong>Fantallometrik</strong> software available under the Software section of this website</li>
                    </li>
                    <li>Numbers and decimals should be entered according to the <strong>French numeric system</strong> using commas (,) as the decimal separator and full stops (.) optionally as the thousands separator</li>
                    </li>
                </ul>
                
              </p>
        </div>
        <div class="col-md-6">
            <div class="well clearfix">
                <div id="page" >
                    {% crispy form %}
                </div>
            </div>
        </div>
	</div>
</div>
{% endblock %}